openapi: 3.0.1
info:
  title: Admin Assets Main Clients API
  version: v1
servers:
- url: https://admin-api.meshconnect.com
security:
- Bearer: []
tags:
- name: Main Clients
paths:
  /admin/api/v1/Client/callbackUrls:
    get:
      tags:
      - Main Clients
      summary: Get Main Client callback urls
      description: Get information about Main Client Allowed Link URLs.
      responses:
        '200':
          description: Get Main Client callback urls
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B2BPortalClientCallbackUrlsResponseApiResult'
              example:
                content:
                  callbackUrls:
                  - https://mainclient-website1.com
                  - https://mainclient-website2.com
                status: ok
                message: ''
                errorHash: dce0f573
                teamCode: P4
                errorType: ''
        '401':
          description: 'Unauthorized: Auth token request is not valid'
          content:
            application/json:
              schema: {}
              example:
                statusCode: 401
        '403':
          description: 'Permission denied: Request is not allowed'
          content:
            application/json:
              schema: {}
              example:
                status: permissionDenied
                message: Error message
                displayMessage: Optional display message
                errorHash: cd59bd31
                teamCode: P4
                errorType: missingField
    post:
      tags:
      - Main Clients
      summary: Update Main Client callback urls
      description: "Update information about Main Client Allowed Link URLs. Allowed Link URLs of Main Client will only be used for those Registered clients,\r\nthat don't have any Allowed Link URLs specified."
      requestBody:
        description: Update Main Client Callback URLs request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/B2BPortalClientCallbackUrlsUpdateRequest'
            example:
              callbackUrls:
              - https://mainclient-website1.com
              - https://mainclient-website2.com
      responses:
        '200':
          description: Main Client callback urls added/updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
              example:
                status: ok
                message: ''
                errorHash: 5f9b2029
                teamCode: P4
                errorType: ''
        '401':
          description: 'Unauthorized: Auth token request is not valid'
          content:
            application/json:
              schema: {}
              example:
                statusCode: 401
        '403':
          description: 'Permission denied: Request is not allowed'
          content:
            application/json:
              schema: {}
              example:
                status: permissionDenied
                message: Error message
                displayMessage: Optional display message
                errorHash: cd59bd31
                teamCode: P4
                errorType: missingField
components:
  schemas:
    B2BPortalClientCallbackUrlsResponseApiResult:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ApiResultStatus'
        message:
          type: string
          description: A message generated by the API
          nullable: true
        displayMessage:
          type: string
          description: User-friendly display message that can be presented to the end user
          nullable: true
        errorHash:
          type: string
          description: An error grouping hash from string components and caller information. Used by bugsnag on FE for correct error grouping
          nullable: true
          readOnly: true
        teamCode:
          type: string
          description: "Opaque team code for error routing. Resolved from exception origin or caller file path via CODEOWNERS.\r\nFormat: 2-character code (e.g., \"7K\", \"M2\"). Use for alerting/routing, not display."
          nullable: true
          readOnly: true
        errorType:
          type: string
          description: "Strictly-typed error type that is explaining the reason of an unsuccessful status of the operation.\r\nAll possible error types are available in the documentation."
          nullable: true
        errorData:
          nullable: true
          readOnly: true
        content:
          $ref: '#/components/schemas/B2BPortalClientCallbackUrlsResponse'
      additionalProperties: false
    ApiResult:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ApiResultStatus'
        message:
          type: string
          description: A message generated by the API
          nullable: true
        displayMessage:
          type: string
          description: User-friendly display message that can be presented to the end user
          nullable: true
        errorHash:
          type: string
          description: An error grouping hash from string components and caller information. Used by bugsnag on FE for correct error grouping
          nullable: true
          readOnly: true
        teamCode:
          type: string
          description: "Opaque team code for error routing. Resolved from exception origin or caller file path via CODEOWNERS.\r\nFormat: 2-character code (e.g., \"7K\", \"M2\"). Use for alerting/routing, not display."
          nullable: true
          readOnly: true
        errorType:
          type: string
          description: "Strictly-typed error type that is explaining the reason of an unsuccessful status of the operation.\r\nAll possible error types are available in the documentation."
          nullable: true
        errorData:
          nullable: true
          readOnly: true
      additionalProperties: false
    B2BPortalClientCallbackUrlsResponse:
      type: object
      properties:
        callbackUrls:
          type: array
          items:
            type: string
          description: Client Allowed Link URLs.
          nullable: true
      additionalProperties: false
    ApiResultStatus:
      enum:
      - ok
      - serverFailure
      - permissionDenied
      - badRequest
      - notFound
      - conflict
      - tooManyRequest
      - locked
      - unavailableForLegalReasons
      type: string
    B2BPortalClientCallbackUrlsUpdateRequest:
      required:
      - callbackUrls
      type: object
      properties:
        callbackUrls:
          type: array
          items:
            type: string
          description: Client Allowed Link URLs.
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: 'Authorization header using the Bearer scheme. Example: "Authorization: Bearer {Value}"'
      scheme: bearer
