openapi: 3.0.1
info:
  title: Admin Assets Managed Transfers API
  version: v1
servers:
- url: https://admin-api.meshconnect.com
security:
- Bearer: []
tags:
- name: Managed Transfers
paths:
  /api/v1/transfers/managed/networks:
    get:
      tags:
      - Managed Transfers
      summary: Get networks
      description: "**Get supported networks list.**\r\n<br />\r\n---\r\nGet the list of all networks supported by Mesh to perform transfers, including which tokens and integrations are supported."
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkModelResponseApiResult'
              example:
                content:
                  networks:
                  - tokens:
                    - symbol: ETH
                      logoUrl: https://frontuserfilecdn.azureedge.net/public/logos/tokens/ETH.svg
                    - symbol: USDC
                      logoUrl: https://frontuserfilecdn.azureedge.net/public/logos/tokens/USDC.svg
                    - symbol: USDT
                      logoUrl: https://frontuserfilecdn.azureedge.net/public/logos/tokens/USDT.svg
                    supportedBrokerTypes:
                    - deFiWallet
                    - robinhood
                    - coinbase
                    - kraken
                    - binanceInternational
                    - binanceUs
                    supportedTokens:
                    - ETH
                    - USDC
                    - USDT
                    nativeSymbol: ETH
                    id: e3c7fdd8-b1fc-4e51-85ae-bb276e075611
                    name: Ethereum
                    chainId: '1'
                    logoUrl: https://frontuserfilecdn.azureedge.net/public/logos/networks/Ethereum.svg
                status: ok
                message: ''
                errorType: ''
        '401':
          description: Unauthorized
          content:
            application/json:
              schema: {}
  /api/v1/transfers/managed/integrations:
    get:
      tags:
      - Managed Transfers
      summary: Get integrations
      description: "**Get supported integrations list.**\r\n<br />\r\n---\r\nGet the list of all integrations supported by Mesh to perform transfers, including which tokens and networks are supported."
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationNetworkResponseApiResult'
              example:
                content:
                  integrations:
                  - type: robinhood
                    networks:
                    - supportedTokens:
                      - USDC
                      - ETH
                      nativeSymbol: ETH
                      id: e3c7fdd8-b1fc-4e51-85ae-bb276e075611
                      name: Ethereum
                      chainId: '1'
                      logoUrl: https://frontuserfilecdn.azureedge.net/public/logos/networks/Ethereum.svg
                    - supportedTokens:
                      - MATIC
                      - ETH
                      nativeSymbol: MATIC
                      id: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                      name: Polygon
                      chainId: '137'
                      logoUrl: https://frontuserfilecdn.azureedge.net/public/logos/networks/Polygon.svg
                    supportsOutgoingTransfers: true
                    supportsIncomingTransfers: true
                status: ok
                message: ''
                errorType: ''
        '401':
          description: Unauthorized
          content:
            application/json:
              schema: {}
  /api/v1/transfers/managed/tokens:
    get:
      tags:
      - Managed Transfers
      summary: Get supported tokens list
      description: Get the list of all tokens supported by Mesh to perform transfers, including which networks and integrations are supported.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenNetworksResponseApiResult'
              example:
                content:
                  tokens:
                  - token: ADA
                    networks:
                    - id: f7a660cd-bac0-4ae8-8ddb-c54d321b55dc
                      name: Cardano
                      logoUrl: https://frontuserfilecdn.azureedge.net/public/logos/networks/Cardano.svg
                    supportedIntegrations:
                    - gemini
                    - binanceInternational
                status: ok
                message: ''
                errorType: ''
  /api/v1/transfers/managed/verify:
    get:
      tags:
      - Managed Transfers
      summary: Verify the transfer request without authenticating the integration accounts
      description: "Checks if the combination of integration ID, network ID, token is correct for transfer.\r\nChecks if the target address is in the correct format."
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/TransferVerificationRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferVerificationResponseApiResult'
              example:
                content:
                  status: succeeded
                  errorMessage: transfer request verification is successful
                status: ok
                message: ''
                errorType: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
              example:
                status: badRequest
                message: Error message
                displayMessage: Optional display message
                errorType: missingField
        '401':
          description: Unauthorized
          content:
            application/json:
              schema: {}
  /api/v1/transfers/managed/configure:
    post:
      tags:
      - Managed Transfers
      summary: Configure transfer
      description: "**Get the list of networks and tokens eligible for a transfer, based on the provided request data.**\r\n<br />\r\n---\r\nTransfers can be configured either from one connected account to another connected account, or\r\nfrom a connected account to any arbitrary address or addresses.\r\n<br />\r\n* **From one connected account to another connected account:**\r\n<br />\r\nThe API client provides `FromAuthToken` that is representing the source account and `ToAuthToken` that is representing the target account. Front API maps networks and tokens supported by both accounts and returns all tokens and networks eligible for a transfer as the result.\r\n<br />\r\n* **From a connected account to any arbitrary address:**\r\n<br />\r\nThe API client provides `FromAuthToken` that is representing the source account and the list of target addresses using the `ToAddresses` field. Front API verifies the addresses and returns the list of tokens, eligible to be transferred as the result of the operation.\r\n<br /><br />\r\nReturns the list of holdings on the account that can be used to perform the transfer. Each holdings item\r\ncontains the list of supported networks that can be used to transfer the corresponding asset.\r\nEach network contains details such as gas fees and the amount eligible to be transferred."
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ConfigureTransferRequest'
            examples:
              Configure with provided list of addresses:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAddresses:
                  - networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                    symbol: USDT
                    address: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  - networkId: 0291810a-5947-424d-9a59-e88bb33e999d
                    symbol: USDT
                    address: HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH
                  - networkId: 0880db06-7c7c-4738-898f-cf74efc03c47
                    symbol: BTC
                    address: 3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5
              Configure transfer between two connected accounts:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
              Configure with provided list of addresses, symbol and amount:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAddresses:
                  - networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                    symbol: USDT
                    address: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  - networkId: 0291810a-5947-424d-9a59-e88bb33e999d
                    symbol: USDT
                    address: HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH
                  - networkId: 0880db06-7c7c-4738-898f-cf74efc03c47
                    symbol: BTC
                    address: 3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5
                  symbol: USDT
                  amount: 130
                  fiatCurrency: USD
              Configure transfer between two connected accounts, symbol, amount in fiat and preferred network:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
                  symbol: USDT
                  amountInFiat: 130
                  fiatCurrency: USD
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ConfigureTransferRequest'
            examples:
              Configure with provided list of addresses:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAddresses:
                  - networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                    symbol: USDT
                    address: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  - networkId: 0291810a-5947-424d-9a59-e88bb33e999d
                    symbol: USDT
                    address: HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH
                  - networkId: 0880db06-7c7c-4738-898f-cf74efc03c47
                    symbol: BTC
                    address: 3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5
              Configure transfer between two connected accounts:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
              Configure with provided list of addresses, symbol and amount:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAddresses:
                  - networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                    symbol: USDT
                    address: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  - networkId: 0291810a-5947-424d-9a59-e88bb33e999d
                    symbol: USDT
                    address: HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH
                  - networkId: 0880db06-7c7c-4738-898f-cf74efc03c47
                    symbol: BTC
                    address: 3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5
                  symbol: USDT
                  amount: 130
                  fiatCurrency: USD
              Configure transfer between two connected accounts, symbol, amount in fiat and preferred network:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
                  symbol: USDT
                  amountInFiat: 130
                  fiatCurrency: USD
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ConfigureTransferRequest'
            examples:
              Configure with provided list of addresses:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAddresses:
                  - networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                    symbol: USDT
                    address: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  - networkId: 0291810a-5947-424d-9a59-e88bb33e999d
                    symbol: USDT
                    address: HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH
                  - networkId: 0880db06-7c7c-4738-898f-cf74efc03c47
                    symbol: BTC
                    address: 3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5
              Configure transfer between two connected accounts:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
              Configure with provided list of addresses, symbol and amount:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAddresses:
                  - networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                    symbol: USDT
                    address: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  - networkId: 0291810a-5947-424d-9a59-e88bb33e999d
                    symbol: USDT
                    address: HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH
                  - networkId: 0880db06-7c7c-4738-898f-cf74efc03c47
                    symbol: BTC
                    address: 3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5
                  symbol: USDT
                  amount: 130
                  fiatCurrency: USD
              Configure transfer between two connected accounts, symbol, amount in fiat and preferred network:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
                  symbol: USDT
                  amountInFiat: 130
                  fiatCurrency: USD
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigureTransferResponseApiResult'
              examples:
                Successful transfer configuration:
                  value:
                    content:
                      status: succeeded
                      holdings:
                      - symbol: USDC
                        availableBalance: 130
                        availableBalanceInFiat: 0
                        eligibleForTransfer: true
                        networks:
                        - name: Ethereum
                          id: e3c7fdd8-b1fc-4e51-85ae-bb276e075611
                          minimumAmount: 1
                          totalEstimatedTransferFeeInFiat: 1.8
                          estimatedNetworkGasFee:
                            fee: 0.000850608941007
                            feeCurrency: ETH
                            feeInFiat: 1.8
                          institutionTransferFee:
                            fee: 0
                            feeCurrency: ETH
                            feeInFiat: 0
                          eligibleForTransfer: true
                          eligibleForTransferWithFunding: false
                        - name: Solana
                          id: 0291810a-5947-424d-9a59-e88bb33e999d
                          minimumAmount: 1
                          totalEstimatedTransferFeeInFiat: 0.1
                          estimatedNetworkGasFee:
                            fee: 0.00025
                            feeCurrency: SOL
                            feeInFiat: 0.1
                          institutionTransferFee:
                            fee: 0
                            feeCurrency: SOL
                            feeInFiat: 0
                          eligibleForTransfer: true
                          eligibleForTransferWithFunding: false
                        eligibleForTransferWithFunding: false
                    status: ok
                    message: ''
                    errorType: ''
                Transfer configuration with failed validation:
                  value:
                    status: badRequest
                    message: Either `ToAddresses` or `ToAuthToken` should be provided.
                    errorType: invalidField
                Transfer configuration with no eligible tokens to transfer:
                  value:
                    content:
                      status: succeeded
                      holdings:
                      - symbol: USDC
                        availableBalance: 1
                        availableBalanceInFiat: 0
                        eligibleForTransfer: false
                        eligibleForTransferWithFunding: false
                      - symbol: ETH
                        availableBalance: 1.0e-05
                        availableBalanceInFiat: 0
                        eligibleForTransfer: false
                        eligibleForTransferWithFunding: false
                    status: ok
                    message: ''
                    errorType: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
              example:
                status: badRequest
                message: Error message
                displayMessage: Optional display message
                errorType: missingField
        '401':
          description: Unauthorized
          content:
            application/json:
              schema: {}
        '403':
          description: The API key used does not have write permission to call this Mesh endpoint.
          content:
            application/json:
              schema: {}
  /api/v1/transfers/managed/preview:
    post:
      tags:
      - Managed Transfers
      summary: Preview transfer
      description: "**Validate and preview the transfer.**\r\n<br />\r\n---\r\nValidates the transfer, calculates the relevant amount in crypto if requested amount was in fiat and updates\r\nthe current network fee values.\r\n<br />\r\nThis endpoint uses the `NetworkId` field to specify which network will be used to perform the transfer. The target `NetworkId`\r\nshould be selected after configuring the transfer using `/configure` endpoint.\r\n<br /><br />\r\nReturns the `PreviewId` value that can be used to commit the transfer."
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/PreviewTransferRequest'
            examples:
              Preview with provided address:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                  symbol: USDT
                  toAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  amount: 10
              Preview transfer between two connected accounts:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                  symbol: USDT
                  toAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  amount: 10
              Preview transfer between two connected accounts, using fiat amount:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                  symbol: USDT
                  toAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  amountInFiat: 10
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/PreviewTransferRequest'
            examples:
              Preview with provided address:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                  symbol: USDT
                  toAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  amount: 10
              Preview transfer between two connected accounts:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                  symbol: USDT
                  toAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  amount: 10
              Preview transfer between two connected accounts, using fiat amount:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                  symbol: USDT
                  toAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  amountInFiat: 10
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/PreviewTransferRequest'
            examples:
              Preview with provided address:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                  symbol: USDT
                  toAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  amount: 10
              Preview transfer between two connected accounts:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                  symbol: USDT
                  toAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  amount: 10
              Preview transfer between two connected accounts, using fiat amount:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                  symbol: USDT
                  toAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  amountInFiat: 10
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewTransferResponseApiResult'
              examples:
                Successful transfer preview:
                  value:
                    content:
                      status: succeeded
                      previewResult:
                        previewId: 29b185b1-2305-40fb-a0e2-929d61451568
                        previewExpiresIn: 300
                        fromAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                        toAddress: '0x326a8825472bb0f4719998e708a1eeeb4473ed1b'
                        symbol: USDT
                        amount: 10
                        amountInFiat: 10
                        totalEstimatedAmountInFiat: 11.21
                        networkId: e3c7fdd8-b1fc-4e51-85ae-bb276e075611
                        institutionTransferFee:
                          fee: 0
                          feeCurrency: USDT
                          feeInFiat: 0
                        estimatedNetworkGasFee:
                          fee: 1.1
                          feeCurrency: USDT
                          feeInFiat: 1.1
                        unitPrice: 0
                        customClientFee:
                          fee: 0.011
                          feeCurrency: USDT
                          feeInFiat: 0.011
                        isCustomClientFeeProvided: false
                        amountWithCustomClientFee: 0
                        isFeeIncluded: false
                        amountToReceive: 0
                        amountToReceiveInFiat: 0
                    status: ok
                    message: ''
                    errorType: ''
                Failed transfer preview:
                  value:
                    status: badRequest
                    message: The specified amount is greater than the maximum amount allowed.
                    displayMessage: The specified amount is greater than the maximum amount allowed.
                    errorType: invalidField
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
              example:
                status: badRequest
                message: Error message
                displayMessage: Optional display message
                errorType: missingField
        '401':
          description: Unauthorized
          content:
            application/json:
              schema: {}
        '403':
          description: The API key used does not have write permission to call this Mesh endpoint.
          content:
            application/json:
              schema: {}
  /api/v1/transfers/managed/execute:
    post:
      tags:
      - Managed Transfers
      summary: Execute transfer
      description: "**Commit the previously previewed transfer.**\r\n<br />\r\n---\r\nPreviews the transfer, using the `PreviewId` value.\r\n<br />\r\nHandles multi-factor authentication codes if the account is configured to use them for additional security.\r\n<br /><br />\r\nReturns the status of the transfer and the details of the transfer if it was initiated successfully."
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ExecuteTransferRequest'
            examples:
              Execute transfer:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  previewId: 29b185b1-2305-40fb-a0e2-929d61451568
              Execute transfer providing the MFA code:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  previewId: 29b185b1-2305-40fb-a0e2-929d61451568
                  mfaCode: '112457'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ExecuteTransferRequest'
            examples:
              Execute transfer:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  previewId: 29b185b1-2305-40fb-a0e2-929d61451568
              Execute transfer providing the MFA code:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  previewId: 29b185b1-2305-40fb-a0e2-929d61451568
                  mfaCode: '112457'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ExecuteTransferRequest'
            examples:
              Execute transfer:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  previewId: 29b185b1-2305-40fb-a0e2-929d61451568
              Execute transfer providing the MFA code:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  previewId: 29b185b1-2305-40fb-a0e2-929d61451568
                  mfaCode: '112457'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecuteTransferResponseApiResult'
              examples:
                Successful transfer preview:
                  value:
                    content:
                      status: succeeded
                      executeTransferResult:
                        transferId: e332336c-de22-11ed-b5ea-0242ac120002
                        status: pending
                        statusDetails: In progress
                        fromAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                        toAddress: '0x326a8825472bb0f4719998e708a1eeeb4473ed1b'
                        symbol: USDT
                        networkName: Ethereum
                        networkId: e3c7fdd8-b1fc-4e51-85ae-bb276e075611
                        hash: '0xdcfd72635a9b16d3bc0e75311f6fe0612970e9714a1e9e93de0ea5acffc6a454'
                        amount: 10
                        amountInFiat: 10
                        totalAmountInFiat: 11.1
                        completedConfirmations: 1
                        institutionTransferFee:
                          fee: 0
                          feeCurrency: USDT
                          feeInFiat: 0
                        networkGasFee:
                          fee: 1.1
                          feeCurrency: USDT
                          feeInFiat: 1.1
                    status: ok
                    message: ''
                    errorType: ''
                Transfer preview when MFA is required:
                  value:
                    content:
                      status: mfaRequired
                    status: ok
                    message: ''
                    errorType: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
              example:
                status: badRequest
                message: Error message
                displayMessage: Optional display message
                errorType: missingField
        '401':
          description: Unauthorized
          content:
            application/json:
              schema: {}
        '403':
          description: The API key used does not have write permission to call this Mesh endpoint.
          content:
            application/json:
              schema: {}
  /api/v1/transfers/managed/address/get:
    post:
      tags:
      - Managed Transfers
      summary: Get deposit address
      description: Get or generate a cryptocurrency deposit address that can be used to transfer assets to the financial institution
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ManagedBrokerCryptocurrencyDepositAddressRequest'
            example:
              symbol: DOGE
              networkId: 34b66a94-f9f9-49ef-81e8-6ebd5a866f9d
              authToken: Secret authentication token
              type: binanceInternational
      responses:
        '200':
          description: Address successfully obtained or generation initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B2BBrokerCryptocurrencyDepositAddressResponseApiResult'
              example:
                content:
                  symbol: DOGE
                  address: D641Fmzx...
                  chain: DOGE
                status: ok
                message: ''
                errorType: ''
        '400':
          description: Request details are not correct.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
              example:
                status: badRequest
                message: Error message
                displayMessage: Optional display message
                errorType: missingField
        '404':
          description: Address for the required symbol is not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
              example:
                status: notFound
                message: Error message
                displayMessage: Optional display message
                errorType: missingField
        '401':
          description: 'Unauthorized: Client Id or Client Secret are not correct or missing.'
          content:
            application/json:
              schema: {}
  /api/v1/transfers/managed/quote:
    post:
      tags:
      - Managed Transfers
      summary: Quote transfer
      description: "Get a quote for transferring a fiat amount from a brokerage account in a given cryptocurrency over a specified network.\r\nReturns min and max fees and amounts to account for different funding sources (existing crypto balance, cash balance or\r\nACH/debit deposit). Currently only supported for Coinbase."
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/QuoteTransferRequest'
            examples:
              Quote transfer with no partner fee:
                value:
                  amountInFiat: 10
                  fiatCurrency: USD
                  symbol: ETH
                  networkId: e3c7fdd8-b1fc-4e51-85ae-bb276e075611
                  toAddress: '0xc096a91fDFB100ECED14e4810FA06061C0b3058B'
                  brokerType: coinbase
              Quote transfer with flat partner fee:
                value:
                  amountInFiat: 10
                  fiatCurrency: USD
                  symbol: ETH
                  networkId: e3c7fdd8-b1fc-4e51-85ae-bb276e075611
                  toAddress: '0xc096a91fDFB100ECED14e4810FA06061C0b3058B'
                  brokerType: coinbase
                  feeFlat: 0.0004
              Quote transfer with percentage partner fee:
                value:
                  amountInFiat: 10
                  fiatCurrency: USD
                  symbol: ETH
                  networkId: e3c7fdd8-b1fc-4e51-85ae-bb276e075611
                  toAddress: '0xc096a91fDFB100ECED14e4810FA06061C0b3058B'
                  brokerType: coinbase
                  feePercentage: 1
      responses:
        '200':
          description: Quote obtained.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteTransferResponseApiResult'
              examples:
                Successful transfer quote:
                  value:
                    content:
                      amountInFiat: 100
                      fiatCurrency: USD
                      symbol: ETH
                      networkId: e3c7fdd8-b1fc-4e51-85ae-bb276e075611
                      toAddress: '0xc096a91fDFB100ECED14e4810FA06061C0b3058B'
                      brokerType: coinbase
                      isEligible: true
                      minEligibleAmount: 0.0001
                      minEligibleAmountFiat: 0
                      brokerPrice: 2247.5
                      price: 2246.9
                      minAmountFiat: 97.08
                      maxAmountFiat: 97.88
                      minAmount: 0.04320807702278007
                      maxAmount: 0.04356412313075105
                      fees:
                        inFiat:
                          paymentMethodFeeMaxFiat: 0
                          tradingFeeMaxFiat: 0.8
                          withdrawalFeeFiat: 0
                          partnerFeeFiat: 1.0
                          networkFeeFiat: 1.12
                          minFeesFiat: 2.12
                          maxFeesFiat: 2.92
                        inCrypto:
                          paymentMethodFeeMax: 0
                          tradingFeeMax: 0.00035604610797098225
                          withdrawalFee: 0
                          partnerFee: 0.0004450576349637278
                          networkFee: 0.000496582730658
                          minFees: 0.0009416403656217278
                          maxFees: 0.0012976864735927101
                      fundingOptions:
                      - fundingOption: existingCryptocurrencyBalance
                        paymentMethodFeeFiat: 0
                        tradingFeeFiat: 0
                      - fundingOption: buyingPowerPurchase
                        paymentMethodFeeFiat: 0
                        tradingFeeFiat: 0.8
                      - fundingOption: paymentMethodDepositUsage
                        paymentMethodType: bankAccount
                        paymentMethodFeeFiat: 0
                        tradingFeeFiat: 0.8
                    status: ok
                    message: ''
                    errorType: ''
        '400':
          description: Request details are not correct.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
              example:
                status: badRequest
                message: Error message
                displayMessage: Optional display message
                errorType: missingField
        '401':
          description: 'Unauthorized: Client Id or Client Secret are not correct or missing.'
          content:
            application/json:
              schema: {}
  /api/v1/transfers/managed/mesh:
    get:
      tags:
      - Managed Transfers
      summary: Get transfers initiated by Mesh
      description: Get cryptocurrency transfers initiated by Mesh on exchanges or self-custody wallets.
      parameters:
      - name: Count
        in: query
        description: Number of items to return. Default 10, maximum - 100.
        schema:
          type: integer
          format: int32
      - name: Offset
        in: query
        description: Number of items to skip.
        schema:
          type: integer
          format: int32
      - name: Id
        in: query
        description: Mesh transfer identifier.
        schema:
          type: string
          format: uuid
      - name: ClientTransactionId
        in: query
        description: Client transaction identifier.
        schema:
          type: string
      - name: UserId
        in: query
        description: Client's user identifier.
        schema:
          type: string
      - name: IntegrationIds
        in: query
        description: Transfered integration.
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: Statuses
        in: query
        description: Transfer statuses.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/TransferStatus'
      - name: FromTimestamp
        in: query
        description: Transfer created minimum timestamp.
        schema:
          type: integer
          format: int64
      - name: ToTimestamp
        in: query
        description: Transfer created maximum timestamp.
        schema:
          type: integer
          format: int64
      - name: MinAmountInFiat
        in: query
        description: Minimum amount in fiat.
        schema:
          type: number
          format: double
      - name: MaxAmountInFiat
        in: query
        description: Maximum amount in fiat.
        schema:
          type: number
          format: double
      - name: OrderBy
        in: query
        description: Order by column.
        schema:
          allOf:
          - $ref: '#/components/schemas/TransferOrderByFields'
      - name: DescendingOrder
        in: query
        description: Value indicating if ordering is descending.
        schema:
          type: boolean
      responses:
        '200':
          description: Transfers obtained.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferModelPaginationResponseApiResult'
              example:
                content:
                  items:
                  - id: 8e25acb5-a9e2-4d00-8772-a255f010a2a9
                    clientTransactionId: '123456'
                    institutionTransactionId: '456789'
                    userId: '123456798'
                    status: succeeded
                    amountInFiat: 1000.3
                    amountInFiatCurrencyCode: USD
                    amount: 10.123
                    symbol: ETH
                    networkName: Polygon
                    createdTimestamp: 1653211113
                    from:
                      id: 8e25acb5-a9e2-4d00-8772-a255f010a2a9
                      type: robinhood
                      name: Robinhood
                    hash: 0x77f3a280aa5cfe956a5759c24cf774325504070b32b4159...
                    gasFee:
                      fee: 0.0001
                      feeCurrency: MATIC
                      feeInFiat: 0.1
                    withdrawalFee:
                      fee: 0.0001
                      feeCurrency: ETH
                      feeInFiat: 0.1
                    processingFee:
                      fee: 0.0001
                      feeCurrency: ETH
                      feeInFiat: 0.1
                    executedTimestamp: 1707462614
                  - id: 12345678-a9e2-4d00-8772-a255f010a2a9
                    clientTransactionId: '123456'
                    institutionTransactionId: '456789'
                    userId: '123456798'
                    status: failed
                    amountInFiat: 10.3
                    amountInFiatCurrencyCode: USD
                    amount: 0.123
                    symbol: ETH
                    networkName: Polygon
                    createdTimestamp: 1653211113
                    from:
                      id: 8e25acb5-a9e2-4d00-8772-a255f010a2a9
                      type: deFiWallet
                      name: MetaMask
                    hash: 0x77f3a280aa5cfe956a5759c24cf774325504070b32b4159...
                  total: 10
                status: ok
                message: ''
                errorType: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
              example:
                status: badRequest
                message: Error message
                displayMessage: Optional display message
                errorType: missingField
        '401':
          description: 'Unauthorized: Client Id or Client Secret are not correct or missing.'
          content:
            application/json:
              schema: {}
components:
  schemas:
    ExecuteTransferResultResponse:
      type: object
      properties:
        transferId:
          type: string
          description: The Id of the transfer by the integration.
          nullable: true
        status:
          enum:
          - unknown
          - failed
          - frozen
          - succeeded
          - mfaRequired
          - pending
          - expired
          - canceled
          - waitingForSignature
          - waitingForClearing
          - awaitingApproval
          - awaitingConfirmation
          - awaitingVerification
          - rejected
          - pendingCancel
          - emailVerification
          - deviceConfirmationRequired
          - mfaFailed
          - addressWhitelistRequired
          - secondMfaRequired
          allOf:
          - $ref: '#/components/schemas/BrokerCryptocurrencyTransactionStatus'
          description: The current status of the transfer.
        statusDetails:
          type: string
          description: Details of the current status of the transfer, as provided by the integration.
          nullable: true
        fromAddress:
          type: string
          description: The address of the source account or wallet.
          nullable: true
        toAddress:
          type: string
          description: The address of the target account or wallet.
          nullable: true
        symbol:
          type: string
          description: Transferred symbol.
          nullable: true
        networkName:
          type: string
          description: The name of the used network.
          nullable: true
        networkId:
          type: string
          description: The Id of the used network in Front system.
          format: uuid
        hash:
          type: string
          description: The hash of the blockchain transaction.
          nullable: true
        amount:
          type: number
          description: The transferred amount, in the symbol of the transfer.
          format: double
        amountInFiat:
          type: number
          description: The transferred amount, converted to the fiat currency.
          format: double
        totalAmountInFiat:
          type: number
          description: Total amount of the transfer including all fees, converted to fiat.
          format: double
        completedConfirmations:
          type: integer
          description: Current number of network confirmations.
          format: int64
          nullable: true
        institutionTransferFee:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: The fee that was taken by the institution.
          nullable: true
        networkGasFee:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: "The gas fee that was taken by the network. Depending on the integration, the network gas fee might be\r\ncovered by the `InstitutionTransferFee`."
          nullable: true
        smartContract:
          allOf:
          - $ref: '#/components/schemas/SmartContractTransferAllocation'
          description: Details of the allocated Smart Contract in case of 'Deposit' type transfers.
          nullable: true
      additionalProperties: false
    ManagedBrokerCryptocurrencyDepositAddressRequest:
      required:
      - authToken
      - type
      type: object
      properties:
        authToken:
          minLength: 1
          type: string
          description: Auth token that allows connecting to the target institution
        type:
          enum:
          - robinhood
          - eTrade
          - alpaca
          - tdAmeritrade
          - weBull
          - stash
          - interactiveBrokers
          - public
          - coinbase
          - kraken
          - coinbasePro
          - cryptoCom
          - openSea
          - binanceUs
          - gemini
          - cryptocurrencyAddress
          - cryptocurrencyWallet
          - okCoin
          - bittrex
          - kuCoin
          - etoro
          - cexIo
          - binanceInternational
          - bitstamp
          - gateIo
          - acorns
          - okx
          - bitFlyer
          - coinlist
          - huobi
          - bitfinex
          - deFiWallet
          - krakenDirect
          - vanguard
          - binanceInternationalDirect
          - bitfinexDirect
          - bybit
          - paxos
          - coinbasePrime
          allOf:
          - $ref: '#/components/schemas/BrokerType'
          description: Type of the institution to connect
        symbol:
          type: string
          description: "Symbol of the required cryptocurrency, e.g. ETH or BTC.\r\nCan be used instead of the `AddressType` field."
          nullable: true
        addressType:
          allOf:
          - $ref: '#/components/schemas/CryptocurrencyAddressType'
          description: "Type of the address of symbol to be transferred. Providing `EthAddress` will assume a transfer of ETH over Ethereum blockchain.\r\nCan be used instead of `Symbol` field."
          nullable: true
        networkId:
          type: string
          description: Specifies which the network to use to obtain the deposit address of the `Symbol` asset.
          format: uuid
        mfaCode:
          type: string
          description: Some of integrations require MFA code to create a deposit address, e.g. KrakenDirect
          nullable: true
      additionalProperties: false
    PreviewTransferResponse:
      type: object
      properties:
        status:
          enum:
          - succeeded
          - failed
          - requiresFunding
          allOf:
          - $ref: '#/components/schemas/PreviewTransferStatus'
          description: The status of the operation.
        errorMessage:
          type: string
          description: Error message, if the operation did not complete successfully.
          nullable: true
        previewResult:
          allOf:
          - $ref: '#/components/schemas/PreviewTransferResult'
          description: Result of the preview.
          nullable: true
        transferBalanceFundingAvailability:
          allOf:
          - $ref: '#/components/schemas/TransferBalanceFundingAvailability'
          nullable: true
      additionalProperties: false
    NetworkModelResponse:
      type: object
      properties:
        networks:
          type: array
          items:
            $ref: '#/components/schemas/NetworkResponseWithIntegrations'
          nullable: true
      additionalProperties: false
    ConfigureTransferRequest:
      required:
      - fromAuthToken
      - fromType
      type: object
      properties:
        fromAuthToken:
          minLength: 1
          type: string
          description: The authentication token to send assets from.
        fromType:
          enum:
          - robinhood
          - eTrade
          - alpaca
          - tdAmeritrade
          - weBull
          - stash
          - interactiveBrokers
          - public
          - coinbase
          - kraken
          - coinbasePro
          - cryptoCom
          - openSea
          - binanceUs
          - gemini
          - cryptocurrencyAddress
          - cryptocurrencyWallet
          - okCoin
          - bittrex
          - kuCoin
          - etoro
          - cexIo
          - binanceInternational
          - bitstamp
          - gateIo
          - acorns
          - okx
          - bitFlyer
          - coinlist
          - huobi
          - bitfinex
          - deFiWallet
          - krakenDirect
          - vanguard
          - binanceInternationalDirect
          - bitfinexDirect
          - bybit
          - paxos
          - coinbasePrime
          allOf:
          - $ref: '#/components/schemas/BrokerType'
          description: The type of the integration to send assets from.
        toAuthToken:
          type: string
          description: "The authentication token of the target integration. Can be used alternatively to the list of requested address (`toAddresses`).\r\nIf used, `toType` should also be provided."
          nullable: true
        toType:
          allOf:
          - $ref: '#/components/schemas/BrokerType'
          description: The type of the target integration to send assets to. Used along with the `toAuthToken` alternatively to `toAddresses`.
          nullable: true
        toAddresses:
          type: array
          items:
            $ref: '#/components/schemas/TransferToAddress'
          description: "A list of available addresses provided by the API client. The list can contain all supported addresses by the client.\r\nFront API validates the addresses and returns the list of supported tokens and networks as the result of the operation."
          nullable: true
        symbol:
          type: string
          description: If provided, Front API returns only networks that support transferring of this symbol.
          nullable: true
        amount:
          type: number
          description: If provided, Front API configures the response to only return holdings with enough amount of this crypto for the transfer
          format: double
          nullable: true
        amountInFiat:
          type: number
          description: If provided, Front API configures the response to only contain holdings with enough value (converted to fiat) for the transfer.
          format: double
          nullable: true
        fiatCurrency:
          type: string
          description: Fiat currency that is to get corresponding converted fiat values of transfer and fee amounts. If not provided, defaults to `USD`.
          nullable: true
        networkId:
          type: string
          description: If provided, from API configures the response to include the requested network only.
          format: uuid
          nullable: true
      additionalProperties: false
    TransferTypeEnum:
      enum:
      - deposit
      - payment
      - onramp
      type: string
    ProcessingFeeRetainType:
      enum:
      - default
      - smartDeposit
      type: string
    NetworkModelResponseApiResult:
      type: object
      properties:
        status:
          enum:
          - ok
          - serverFailure
          - permissionDenied
          - badRequest
          - notFound
          - conflict
          - tooManyRequest
          - locked
          allOf:
          - $ref: '#/components/schemas/ApiResultStatus'
          readOnly: true
        message:
          type: string
          description: A message generated by the API
          nullable: true
        displayMessage:
          type: string
          description: User-friendly display message that can be presented to the end user
          nullable: true
        errorType:
          type: string
          description: "Strictly-typed error type that is explaining the reason of an unsuccessful status of the operation.\r\nAll possible error types are available in the documentation."
          nullable: true
        errorData:
          nullable: true
          readOnly: true
        content:
          allOf:
          - $ref: '#/components/schemas/NetworkModelResponse'
          nullable: true
      additionalProperties: false
    SmartContractTransferAllocation:
      type: object
      properties:
        address:
          type: string
          description: Blockchain address of the Smart Contract
          nullable: true
        expirationTimestamp:
          type: integer
          description: The timestamp by which the transfer must be completely initiated. Currently, this means solving the MFA steps
          format: int64
      additionalProperties: false
    ConfigureTransferResultNetwork:
      type: object
      properties:
        name:
          type: string
          description: The name of the network.
          nullable: true
        id:
          type: string
          description: The Id of the network in Front system.
          format: uuid
        minimumAmount:
          type: number
          description: Then minimum amount that can be withdrawn using this network.
          format: double
          nullable: true
        maximumAmount:
          type: number
          description: The maximum amount that can be withdrawn using this network.
          format: double
          nullable: true
        totalEstimatedTransferFeeInFiat:
          type: number
          description: "Total estimated transfer fee converted to fiat. Can consist of the fee taken by the financial institution and the\r\ngas fee."
          format: double
          nullable: true
        minimumAmountInFiat:
          type: number
          description: The minimum amount that can be withdrawn using this network, converted to fiat currency.
          format: double
          nullable: true
        maximumAmountInFiat:
          type: number
          description: The maximum amount that can be withdrawn using this network, converted to fiat currency.
          format: double
          nullable: true
        estimatedNetworkGasFee:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: "The gas fee that is estimated to be taken by the network. Depending on the integration, the network gas fee might be\r\ncovered by the `InstitutionTransferFee`."
          nullable: true
        institutionTransferFee:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: "The fee that is taken by the institution. Depending on the institution, can cover the gas fee. Some institutions do not\r\ntake the transfer fee and only network fee is used for the transfer."
          nullable: true
        eligibleForTransfer:
          type: boolean
          description: Specifies if the asset is eligible for a transfer over the current network.
        ineligibilityReason:
          allOf:
          - $ref: '#/components/schemas/NetworkTransferIneligibilityReason'
          description: The reason indicating why the transfer cannot be performed over this network.
          nullable: true
        eligibleForTransferWithFunding:
          type: boolean
        toAddress:
          type: string
          description: The designated destination for sending the asset.
          nullable: true
        transferAmount:
          type: number
          description: Token's amount to transfer specified by the client.
          format: double
          nullable: true
        minimumRequiredForTransferAmount:
          type: number
          description: "The minimum amount of cryptocurrency that is required to be present in the account to perform the transfer.\r\nUnlike `minimum` field that indicates the minimum amount that can generally be transferred, this field indicates the minimum\r\nthat can be transferred given the current transfer configuration values, such as `amountInFiat` and `clientFee`."
          format: double
          nullable: true
        logoUrl:
          type: string
          description: Logo url for network.
          format: uri
          nullable: true
      additionalProperties: false
    QuoteFundingOption:
      type: object
      properties:
        fundingOption:
          enum:
          - existingCryptocurrencyBalance
          - buyingPowerPurchase
          - paymentMethodDepositUsage
          - cryptocurrencyConversion
          - stableCoinNoFeeConversion
          - cryptocurrencyBuyingPowerConversion
          allOf:
          - $ref: '#/components/schemas/CryptocurrencyFundingOptionType'
          description: Funding option being quoted
        paymentMethodType:
          allOf:
          - $ref: '#/components/schemas/BrokerPaymentMethodType'
          description: Payment method being quoted for PaymentMethodDepositUsage funding option
          nullable: true
        paymentMethodFeeFiat:
          type: number
          description: Fee charged for this payment method
          format: double
        tradingFeeFiat:
          type: number
          description: Fee charged to buy crypto if necessary for this funding option
          format: double
      additionalProperties: false
    TransferVerifyStatus:
      enum:
      - succeeded
      - failed
      type: string
    QuoteFeesInFiat:
      type: object
      properties:
        paymentMethodFeeMaxFiat:
          type: number
          description: Max fee charged if funded by payment method
          format: double
        tradingFeeMaxFiat:
          type: number
          description: Max fee charged to buy crypto
          format: double
        withdrawalFeeFiat:
          type: number
          description: Fee charged to withdraw crypto
          format: double
        partnerFeeFiat:
          type: number
          description: Fee charged by partner
          format: double
        networkFeeFiat:
          type: number
          description: Fee charged for network transaction
          format: double
        minFeesFiat:
          type: number
          description: Min of total fees charged in fiat
          format: double
        maxFeesFiat:
          type: number
          description: Max of total fees charged in fiat
          format: double
      additionalProperties: false
    TransferVerificationResponse:
      type: object
      properties:
        status:
          enum:
          - succeeded
          - failed
          allOf:
          - $ref: '#/components/schemas/TransferVerifyStatus'
        errorMessage:
          type: string
          nullable: true
        failureReason:
          allOf:
          - $ref: '#/components/schemas/FailureReason'
          nullable: true
      additionalProperties: false
    ExecuteTransferRequest:
      required:
      - fromAuthToken
      - fromType
      - previewId
      type: object
      properties:
        fromAuthToken:
          minLength: 1
          type: string
          description: The authentication token to send the asset from.
        fromType:
          enum:
          - robinhood
          - eTrade
          - alpaca
          - tdAmeritrade
          - weBull
          - stash
          - interactiveBrokers
          - public
          - coinbase
          - kraken
          - coinbasePro
          - cryptoCom
          - openSea
          - binanceUs
          - gemini
          - cryptocurrencyAddress
          - cryptocurrencyWallet
          - okCoin
          - bittrex
          - kuCoin
          - etoro
          - cexIo
          - binanceInternational
          - bitstamp
          - gateIo
          - acorns
          - okx
          - bitFlyer
          - coinlist
          - huobi
          - bitfinex
          - deFiWallet
          - krakenDirect
          - vanguard
          - binanceInternationalDirect
          - bitfinexDirect
          - bybit
          - paxos
          - coinbasePrime
          allOf:
          - $ref: '#/components/schemas/BrokerType'
          description: The type of the integration to send the asset from.
        previewId:
          type: string
          description: Id of the Preview of the transfer.
          format: uuid
        mfaCode:
          type: string
          description: Multi-factor auth code that should be provided if the status of the transfer was `MfaRequired`.
          nullable: true
      additionalProperties: false
    TransferBalanceFundingAvailabilityBase:
      type: object
      properties:
        status:
          enum:
          - disabled
          - available
          - requiresAmountLowering
          - notApplicable
          - unavailable
          allOf:
          - $ref: '#/components/schemas/TransferBalanceFundingAvailabilityStatus'
      additionalProperties: false
    HoldingTransferIneligibilityReason:
      enum:
      - noEligibleNetworks
      - symbolDoesNotMatch
      - notSupportedForTransferByTarget
      - notSupportedForTransferBySource
      - eligibleWithFunding
      - amountNotSufficient
      type: string
    TransferFee:
      type: object
      properties:
        fee:
          type: number
          description: The amount of the fee.
          format: double
        feeCurrency:
          type: string
          description: The currency of the fee. Does not match the currency of the transfer in some cases.
          nullable: true
        feeInFiat:
          type: number
          description: The value of the fee converted to the fiat currency.
          format: double
      additionalProperties: false
    BrokerType:
      enum:
      - robinhood
      - eTrade
      - alpaca
      - tdAmeritrade
      - weBull
      - stash
      - interactiveBrokers
      - public
      - coinbase
      - kraken
      - coinbasePro
      - cryptoCom
      - openSea
      - binanceUs
      - gemini
      - cryptocurrencyAddress
      - cryptocurrencyWallet
      - okCoin
      - bittrex
      - kuCoin
      - etoro
      - cexIo
      - binanceInternational
      - bitstamp
      - gateIo
      - acorns
      - okx
      - bitFlyer
      - coinlist
      - huobi
      - bitfinex
      - deFiWallet
      - krakenDirect
      - vanguard
      - binanceInternationalDirect
      - bitfinexDirect
      - bybit
      - paxos
      - coinbasePrime
      type: string
    IntegrationNetworkResponseApiResult:
      type: object
      properties:
        status:
          enum:
          - ok
          - serverFailure
          - permissionDenied
          - badRequest
          - notFound
          - conflict
          - tooManyRequest
          - locked
          allOf:
          - $ref: '#/components/schemas/ApiResultStatus'
          readOnly: true
        message:
          type: string
          description: A message generated by the API
          nullable: true
        displayMessage:
          type: string
          description: User-friendly display message that can be presented to the end user
          nullable: true
        errorType:
          type: string
          description: "Strictly-typed error type that is explaining the reason of an unsuccessful status of the operation.\r\nAll possible error types are available in the documentation."
          nullable: true
        errorData:
          nullable: true
          readOnly: true
        content:
          allOf:
          - $ref: '#/components/schemas/IntegrationNetworkResponse'
          nullable: true
      additionalProperties: false
    IntegrationNetworksModelResponse:
      type: object
      properties:
        type:
          enum:
          - robinhood
          - eTrade
          - alpaca
          - tdAmeritrade
          - weBull
          - stash
          - interactiveBrokers
          - public
          - coinbase
          - kraken
          - coinbasePro
          - cryptoCom
          - openSea
          - binanceUs
          - gemini
          - cryptocurrencyAddress
          - cryptocurrencyWallet
          - okCoin
          - bittrex
          - kuCoin
          - etoro
          - cexIo
          - binanceInternational
          - bitstamp
          - gateIo
          - acorns
          - okx
          - bitFlyer
          - coinlist
          - huobi
          - bitfinex
          - deFiWallet
          - krakenDirect
          - vanguard
          - binanceInternationalDirect
          - bitfinexDirect
          - bybit
          - paxos
          - coinbasePrime
          allOf:
          - $ref: '#/components/schemas/BrokerType'
          description: Type of the integration.
        networks:
          type: array
          items:
            $ref: '#/components/schemas/NetworkResponse'
          description: The list of supported networks and corresponding tokens for the integration.
          nullable: true
        supportsOutgoingTransfers:
          type: boolean
          description: Specifies if the integration supports outgoing transfers.
        supportsIncomingTransfers:
          type: boolean
          description: Specifies if the integration supports incoming transfers.
      additionalProperties: false
    ApiResultStatus:
      enum:
      - ok
      - serverFailure
      - permissionDenied
      - badRequest
      - notFound
      - conflict
      - tooManyRequest
      - locked
      type: string
    PreviewTransferResponseApiResult:
      type: object
      properties:
        status:
          enum:
          - ok
          - serverFailure
          - permissionDenied
          - badRequest
          - notFound
          - conflict
          - tooManyRequest
          - locked
          allOf:
          - $ref: '#/components/schemas/ApiResultStatus'
          readOnly: true
        message:
          type: string
          description: A message generated by the API
          nullable: true
        displayMessage:
          type: string
          description: User-friendly display message that can be presented to the end user
          nullable: true
        errorType:
          type: string
          description: "Strictly-typed error type that is explaining the reason of an unsuccessful status of the operation.\r\nAll possible error types are available in the documentation."
          nullable: true
        errorData:
          nullable: true
          readOnly: true
        content:
          allOf:
          - $ref: '#/components/schemas/PreviewTransferResponse'
          nullable: true
      additionalProperties: false
    ExecuteTransferResponse:
      type: object
      properties:
        status:
          enum:
          - succeeded
          - failed
          - mfaRequired
          - emailConfirmationRequired
          - deviceConfirmationRequired
          - mfaFailed
          - addressWhitelistRequired
          - secondMfaRequired
          - deFiWalletConfirmationRequired
          allOf:
          - $ref: '#/components/schemas/ExecuteTransferStatus'
          description: The status of the transfer.
        mfaType:
          allOf:
          - $ref: '#/components/schemas/ExecuteTransferMfaType'
          description: The type of the MFA when the status is `MfaRequired`.
          nullable: true
        verificationSteps:
          type: array
          items:
            $ref: '#/components/schemas/ExecuteTransferMfaType'
          description: The type of the MFA when the status is `MfaRequired`.
          nullable: true
        qrCode:
          type: string
          nullable: true
        qrCodeLink:
          type: string
          nullable: true
        errorMessage:
          type: string
          description: Error message, if the operation did not complete successfully.
          nullable: true
        executeTransferResult:
          allOf:
          - $ref: '#/components/schemas/ExecuteTransferResultResponse'
          description: Result of the transfer initiation.
          nullable: true
      additionalProperties: false
    TransferBalanceFundingAvailability:
      type: object
      properties:
        status:
          enum:
          - disabled
          - available
          - requiresAmountLowering
          - notApplicable
          - unavailable
          allOf:
          - $ref: '#/components/schemas/TransferBalanceFundingAvailabilityStatus'
        transferTotalAmount:
          type: number
          description: The total transfer amount in crypto after all fees are applied
          format: double
        unitPrice:
          type: number
          description: The price of the cryptocurrency asset in the fiat currency.
          format: double
        gasFeeBuffer:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: Represents the safety margin amount to cover gas fee volatility.
          nullable: true
        symbol:
          type: string
          nullable: true
        transferTotalAmountInFiat:
          type: number
          description: The total transfer amount in fiat after all fees are applied.
          format: double
      additionalProperties: false
    TransferIntegrationModel:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          enum:
          - robinhood
          - eTrade
          - alpaca
          - tdAmeritrade
          - weBull
          - stash
          - interactiveBrokers
          - public
          - coinbase
          - kraken
          - coinbasePro
          - cryptoCom
          - openSea
          - binanceUs
          - gemini
          - cryptocurrencyAddress
          - cryptocurrencyWallet
          - okCoin
          - bittrex
          - kuCoin
          - etoro
          - cexIo
          - binanceInternational
          - bitstamp
          - gateIo
          - acorns
          - okx
          - bitFlyer
          - coinlist
          - huobi
          - bitfinex
          - deFiWallet
          - krakenDirect
          - vanguard
          - binanceInternationalDirect
          - bitfinexDirect
          - bybit
          - paxos
          - coinbasePrime
          allOf:
          - $ref: '#/components/schemas/BrokerType'
        name:
          type: string
          nullable: true
      additionalProperties: false
    ConfigureTransferStatus:
      enum:
      - succeeded
      - failed
      - validationFailed
      - notAuthorizedTo
      - notAuthorizedFrom
      - kycRequired
      - fromIntegrationNotSupported
      - toIntegrationNotSupported
      type: string
    ExecuteTransferStatus:
      enum:
      - succeeded
      - failed
      - mfaRequired
      - emailConfirmationRequired
      - deviceConfirmationRequired
      - mfaFailed
      - addressWhitelistRequired
      - secondMfaRequired
      - deFiWalletConfirmationRequired
      type: string
    BrokerResponseStatus:
      enum:
      - unknown
      - mfaRequired
      - kycRequired
      type: string
    TransferBalanceFundingAvailabilityStatus:
      enum:
      - disabled
      - available
      - requiresAmountLowering
      - notApplicable
      - unavailable
      type: string
    TransferVerificationRequest:
      type: object
      properties:
        integrationId:
          type: string
          nullable: true
        token:
          type: string
          nullable: true
        networkId:
          type: string
          nullable: true
        targetAddress:
          type: string
          nullable: true
      additionalProperties: false
    NetworkResponseWithIntegrations:
      type: object
      properties:
        id:
          type: string
          description: The Id of the network in Mesh system. Should be used to initiate transfers.
          format: uuid
        name:
          type: string
          description: The name if the network.
          nullable: true
        chainId:
          type: string
          description: The Inner id of the chain, used for reference. For example, Polygon's (MATIC) chain Id is 137.
          nullable: true
        logoUrl:
          type: string
          description: Network logo URL.
          nullable: true
        supportedTokens:
          type: array
          items:
            type: string
          description: The list of tokens that are currently supported to be transferred using the network.
          nullable: true
        nativeSymbol:
          type: string
          description: The symbol of the network's native cryptocurrency.
          nullable: true
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/NetworkResponseToken'
          description: The list of tokens that are currently supported to be transferred using the network.
          nullable: true
        supportedBrokerTypes:
          type: array
          items:
            $ref: '#/components/schemas/BrokerType'
          description: The list of types of integrations that are currently supported to perform transfers over the network.
          nullable: true
      additionalProperties: false
      description: Crypto network.
    B2BBrokerCryptocurrencyDepositAddressResponse:
      type: object
      properties:
        symbol:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        chain:
          type: string
          nullable: true
        memo:
          type: string
          nullable: true
        minimumDepositAmount:
          type: string
          nullable: true
        networkId:
          type: string
          format: uuid
          nullable: true
        brokerResponseStatus:
          allOf:
          - $ref: '#/components/schemas/BrokerResponseStatus'
          nullable: true
        errorMessage:
          type: string
          nullable: true
      additionalProperties: false
    BrokerPaymentMethodType:
      enum:
      - card
      - bankAccount
      - digitalWallet
      - unknown
      type: string
    QuoteTransferResponse:
      type: object
      properties:
        amountInFiat:
          type: number
          description: Base amount of fiat currency being transferred (provided in request)
          format: double
        fiatCurrency:
          type: string
          description: 3 character currency code (provided in request)
          nullable: true
        symbol:
          type: string
          description: Symbol of destination cryptocurrency (provided in request)
          nullable: true
        networkId:
          type: string
          description: Unique id of destination network (provided in request)
          format: uuid
        toAddress:
          type: string
          description: The designated destination for sending the asset.
          nullable: true
        brokerType:
          enum:
          - robinhood
          - eTrade
          - alpaca
          - tdAmeritrade
          - weBull
          - stash
          - interactiveBrokers
          - public
          - coinbase
          - kraken
          - coinbasePro
          - cryptoCom
          - openSea
          - binanceUs
          - gemini
          - cryptocurrencyAddress
          - cryptocurrencyWallet
          - okCoin
          - bittrex
          - kuCoin
          - etoro
          - cexIo
          - binanceInternational
          - bitstamp
          - gateIo
          - acorns
          - okx
          - bitFlyer
          - coinlist
          - huobi
          - bitfinex
          - deFiWallet
          - krakenDirect
          - vanguard
          - binanceInternationalDirect
          - bitfinexDirect
          - bybit
          - paxos
          - coinbasePrime
          allOf:
          - $ref: '#/components/schemas/BrokerType'
          description: The type of the integration to send the asset from (provided in request)
        isEligible:
          type: boolean
          description: Is the transaction is possible based on the minimum transfer amount of the selected exchange
        minEligibleAmount:
          type: number
          description: Minimum amount eligible to transfer with selected asset, exchange, and network
          format: double
        minEligibleAmountFiat:
          type: number
          description: Minimum amount in fiat eligible to transfer with selected asset, exchange, and network
          format: double
        maxEligibleAmount:
          type: number
          description: Maximum amount eligible to transfer with selected asset, exchange, and network
          format: double
          nullable: true
        maxEligibleAmountFiat:
          type: number
          description: Maximum amount eligible in fiat to transfer with selected asset, exchange, and network
          format: double
          nullable: true
        ineligibilityReason:
          allOf:
          - $ref: '#/components/schemas/NetworkTransferIneligibilityReason'
          description: The reason a transaction is ineligible, returns none if eligible
          nullable: true
        brokerPrice:
          type: number
          description: Price quote from the broker, falls back to reference price
          format: double
        price:
          type: number
          description: Reference price
          format: double
        minAmountFiat:
          type: number
          description: Min amount transferred in fiat
          format: double
        maxAmountFiat:
          type: number
          description: Max amount transferred in fiat
          format: double
        minAmount:
          type: number
          description: Min amount of crypto transferred
          format: double
        maxAmount:
          type: number
          description: Max amount of crypto transferred
          format: double
        fees:
          allOf:
          - $ref: '#/components/schemas/QuoteFees'
          description: Summary of all possible transfer fees
          nullable: true
        fundingOptions:
          type: array
          items:
            $ref: '#/components/schemas/QuoteFundingOption'
          description: Summary of all possible funding options
          nullable: true
      additionalProperties: false
    ApiResult:
      type: object
      properties:
        status:
          enum:
          - ok
          - serverFailure
          - permissionDenied
          - badRequest
          - notFound
          - conflict
          - tooManyRequest
          - locked
          allOf:
          - $ref: '#/components/schemas/ApiResultStatus'
          readOnly: true
        message:
          type: string
          description: A message generated by the API
          nullable: true
        displayMessage:
          type: string
          description: User-friendly display message that can be presented to the end user
          nullable: true
        errorType:
          type: string
          description: "Strictly-typed error type that is explaining the reason of an unsuccessful status of the operation.\r\nAll possible error types are available in the documentation."
          nullable: true
        errorData:
          nullable: true
          readOnly: true
      additionalProperties: false
    IntegrationNetworkResponse:
      type: object
      properties:
        integrations:
          type: array
          items:
            $ref: '#/components/schemas/IntegrationNetworksModelResponse'
          nullable: true
      additionalProperties: false
    ConfigureTransferResultHolding:
      type: object
      properties:
        symbol:
          type: string
          description: The symbol of the digital asset on the source account.
          nullable: true
        availableBalance:
          type: number
          description: The available balance of the digital asset.
          format: double
        availableBalanceInFiat:
          type: number
          description: The available balance of the digital asset, converted to fiat currency.
          format: double
        eligibleForTransfer:
          type: boolean
          description: Specifies if the asset is eligible for a transfer.
        networks:
          type: array
          items:
            $ref: '#/components/schemas/ConfigureTransferResultNetwork'
          description: Supported networks.
          nullable: true
        ineligibilityReason:
          allOf:
          - $ref: '#/components/schemas/HoldingTransferIneligibilityReason'
          description: The reason indicating why the transfer of the current asset cannot be performed.
          nullable: true
        eligibleForTransferWithFunding:
          type: boolean
          description: "Indicates that the asset is not eligible for a transfer with the current holding balance,\r\nbut can be made eligible after funding the balance using the cryptocurrency balance funding feature."
        logoUrl:
          type: string
          description: Logo url for holding.
          format: uri
          nullable: true
      additionalProperties: false
    ProcessingFeeRetainMethod:
      type: object
      properties:
        type:
          enum:
          - default
          - smartDeposit
          allOf:
          - $ref: '#/components/schemas/ProcessingFeeRetainType'
        processingFeeAddress:
          type: string
          nullable: true
      additionalProperties: false
    TokenNetworksResponseApiResult:
      type: object
      properties:
        status:
          enum:
          - ok
          - serverFailure
          - permissionDenied
          - badRequest
          - notFound
          - conflict
          - tooManyRequest
          - locked
          allOf:
          - $ref: '#/components/schemas/ApiResultStatus'
          readOnly: true
        message:
          type: string
          description: A message generated by the API
          nullable: true
        displayMessage:
          type: string
          description: User-friendly display message that can be presented to the end user
          nullable: true
        errorType:
          type: string
          description: "Strictly-typed error type that is explaining the reason of an unsuccessful status of the operation.\r\nAll possible error types are available in the documentation."
          nullable: true
        errorData:
          nullable: true
          readOnly: true
        content:
          allOf:
          - $ref: '#/components/schemas/TokenNetworksResponse'
          nullable: true
      additionalProperties: false
    PreviewTransferStatus:
      enum:
      - succeeded
      - failed
      - requiresFunding
      type: string
    CryptocurrencyAddressType:
      enum:
      - ethAddress
      - btcAddress
      - ltcAddress
      - solAddress
      - algoAddress
      - celoAddress
      - cardanoAddress
      - polygonAddress
      - bnbAddress
      - elrondAddress
      - neoAddress
      - xrpAddress
      - flowAddress
      - harmonyOneAddress
      - tronAddress
      - dogeAddress
      - opAddress
      type: string
    TransferModel:
      type: object
      properties:
        id:
          type: string
          description: Mesh transfer identifier.
          format: uuid
        clientTransactionId:
          type: string
          description: Client transaction identifier.
          nullable: true
        institutionTransactionId:
          type: string
          description: Integration transaction identifier.
          nullable: true
        userId:
          type: string
          description: Client's user identifier.
          nullable: true
        status:
          enum:
          - pending
          - succeeded
          - failed
          allOf:
          - $ref: '#/components/schemas/TransferStatus'
          description: Transfer status.
        amountInFiat:
          type: number
          description: Tranfer amount in fiat.
          format: double
        amountInFiatCurrencyCode:
          type: string
          description: Tranfer amount in fiat currency code.
          nullable: true
        amount:
          type: number
          description: Tranfer amount.
          format: double
        symbol:
          type: string
          description: Tranfer cryptocurrency symbol.
          nullable: true
        networkName:
          type: string
          description: Tranfer network name.
          nullable: true
        createdTimestamp:
          type: integer
          description: Created timestamp.
          format: int64
        from:
          allOf:
          - $ref: '#/components/schemas/TransferIntegrationModel'
          description: From integration.
          nullable: true
        hash:
          type: string
          description: Transfer hash.
          nullable: true
        gasFee:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: Transfer network gas fee.
          nullable: true
        withdrawalFee:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: Financial insitution withdrawal fee.
          nullable: true
        processingFee:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: Tranfer processing fee.
          nullable: true
        executedTimestamp:
          type: integer
          description: Transfer executed Unix timestamp.
          format: int64
          nullable: true
        sourceAmount:
          type: number
          description: Amount what was actually transferred from source account.
          format: double
          nullable: true
        destinationAmount:
          type: number
          description: Amount what destination actually received.
          format: double
          nullable: true
      additionalProperties: false
    FailureReason:
      enum:
      - notSupportedOnIntegration
      - notSupportedOnNetwork
      - invalidAddressFormat
      - notSupportedOnToken
      type: string
    PreviewTransferResult:
      type: object
      properties:
        previewId:
          type: string
          description: The Id of the preview of the transfer. Should be used to commit the transfer using `Execute` endpoint.
          format: uuid
        previewExpiresIn:
          type: integer
          description: The period of time in seconds during which the transfer can be committed.
          format: int32
        fromAddress:
          type: string
          description: Obtained address that will be used to send the transfer. Not guaranteed to be returned by some of integrations.
          nullable: true
        toAddress:
          type: string
          description: The target address to send the asset to.
          nullable: true
        addressTag:
          type: string
          description: Secondary address identifier for coins like XRP, XMR etc.
          nullable: true
        symbol:
          type: string
          description: Symbol of the asset to be sent.
          nullable: true
        amount:
          type: number
          description: "Amount in symbol. If the transfer was requested using `AmounInFiat` field, this field represents the exact amount\r\nof the asset that will be transferred."
          format: double
        amountInFiat:
          type: number
          description: "Transfer amount in fiat. If the transfer was requested in crypto amount using the `Amount` field,\r\nthis field contains the corresponding converted to fiat value."
          format: double
        totalEstimatedAmountInFiat:
          type: number
          description: Total estimated amount of the transfer including all fees, converted to fiat.
          format: double
        networkId:
          type: string
          description: Id of the network in Front system.
          format: uuid
        networkName:
          type: string
          description: Name of the network in Front system.
          nullable: true
        contractAddress:
          type: string
          description: Blockchain address of the transferred token's contract
          nullable: true
        institutionTransferFee:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: "The fee that is taken by the institution. Depending on the institution, can cover the gas fee. Some institutions do not\r\ntake the transfer fee and only network fee is used for the transfer."
          nullable: true
        estimatedNetworkGasFee:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: "The gas fee that is estimated to be taken by the network. Depending on the integration, the network gas fee might be\r\ncovered by the `InstitutionTransferFee`."
          nullable: true
        decimalPlaces:
          type: integer
          description: Number of decimal places used to represent the token's smallest unit
          format: int32
          nullable: true
        unitPrice:
          type: number
          description: The price of the cryptocurrency asset in the fiat currency.
          format: double
        clientTransactionId:
          maxLength: 128
          minLength: 0
          type: string
          description: Transaction id provided by the client
          nullable: true
        clientFee:
          maximum: 1
          minimum: 0
          type: number
          description: "A percentage fee (input as a ratio, eg. 0.02500 = 2.500%) added onto your users' gross payments.\r\nThis will override any default fee entered in your Mesh dashboard for an individual transaction.\r\nPlease note: this fee should only be used for Payments (when the transfer destination is an address owned by your company),\r\nand not for Deposits (when the transfer destination is an address owned by the end user).\r\nIf used for Deposits, it will increase the size of the user's Deposit by the fee amount,\r\nbut will incorrectly show to the user as a fee."
          format: double
          nullable: true
        customClientFee:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: The client fee that is estimated to be added to the total estimated transfer amount, based on the user's requested transfer amount and client fee percentage.
          nullable: true
        processingFeeRetainMethod:
          allOf:
          - $ref: '#/components/schemas/ProcessingFeeRetainMethod'
          nullable: true
        transferType:
          allOf:
          - $ref: '#/components/schemas/TransferTypeEnum'
          description: "Deposit: The user is transferring crypto to a wallet they own on your platform.\r\nPayment: The user is transferring crypto to a wallet your company owns in exchange for receiving a good or service.\r\nOnramp: The user is using balances and linked payment methods in an exchange account to fund the purchase of crypto in their wallet on your platform."
          nullable: true
        isCustomClientFeeProvided:
          type: boolean
        amountWithCustomClientFee:
          type: number
          description: "Amount in symbol after the client fees are applied. This field represents the exact amount\r\nof the asset that will be requested for transfer."
          format: double
        isFeeIncluded:
          type: boolean
          description: "Indicates if all the fees are included in the amount. For example, if this field's value is `true`\r\nand the user wants to send 1 BTC and the sum of all fees is 0.1 BTC, the user will be charged 1 BTC, and\r\nthe target address will receive 0.9 BTC.\r\nIf the fees are no inclusive, the user will be charged 1.1 BTC and the target address will receive 1 BTC."
        amountToReceive:
          type: number
          description: "Indicates the final amount to receive after all fees are applied. In case fees are not inclusive (`IsFeeIncluded` is `false`),\r\nthis field will be equal to the `Amount` field."
          format: double
        amountToReceiveInFiat:
          type: number
          description: "Indicates the final amount in fiat to receive after all fees are applied. In case fees are not inclusive (`IsFeeIncluded` is `false`),\r\nthis field will be equal to the `AmountInFiat` field."
          format: double
      additionalProperties: false
    QuoteTransferResponseApiResult:
      type: object
      properties:
        status:
          enum:
          - ok
          - serverFailure
          - permissionDenied
          - badRequest
          - notFound
          - conflict
          - tooManyRequest
          - locked
          allOf:
          - $ref: '#/components/schemas/ApiResultStatus'
          readOnly: true
        message:
          type: string
          description: A message generated by the API
          nullable: true
        displayMessage:
          type: string
          description: User-friendly display message that can be presented to the end user
          nullable: true
        errorType:
          type: string
          description: "Strictly-typed error type that is explaining the reason of an unsuccessful status of the operation.\r\nAll possible error types are available in the documentation."
          nullable: true
        errorData:
          nullable: true
          readOnly: true
        content:
          allOf:
          - $ref: '#/components/schemas/QuoteTransferResponse'
          nullable: true
      additionalProperties: false
    BrokerCryptocurrencyTransactionStatus:
      enum:
      - unknown
      - failed
      - frozen
      - succeeded
      - mfaRequired
      - pending
      - expired
      - canceled
      - waitingForSignature
      - waitingForClearing
      - awaitingApproval
      - awaitingConfirmation
      - awaitingVerification
      - rejected
      - pendingCancel
      - emailVerification
      - deviceConfirmationRequired
      - mfaFailed
      - addressWhitelistRequired
      - secondMfaRequired
      type: string
    QuoteFees:
      type: object
      properties:
        inFiat:
          allOf:
          - $ref: '#/components/schemas/QuoteFeesInFiat'
          description: Summary of all possible transfer fees in fiat
          nullable: true
        inCrypto:
          allOf:
          - $ref: '#/components/schemas/QuoteFeesInCrypto'
          description: Summary of all possible transfer fees in crypto
          nullable: true
      additionalProperties: false
    TransferVerificationResponseApiResult:
      type: object
      properties:
        status:
          enum:
          - ok
          - serverFailure
          - permissionDenied
          - badRequest
          - notFound
          - conflict
          - tooManyRequest
          - locked
          allOf:
          - $ref: '#/components/schemas/ApiResultStatus'
          readOnly: true
        message:
          type: string
          description: A message generated by the API
          nullable: true
        displayMessage:
          type: string
          description: User-friendly display message that can be presented to the end user
          nullable: true
        errorType:
          type: string
          description: "Strictly-typed error type that is explaining the reason of an unsuccessful status of the operation.\r\nAll possible error types are available in the documentation."
          nullable: true
        errorData:
          nullable: true
          readOnly: true
        content:
          allOf:
          - $ref: '#/components/schemas/TransferVerificationResponse'
          nullable: true
      additionalProperties: false
    ConfigureTransferResponseApiResult:
      type: object
      properties:
        status:
          enum:
          - ok
          - serverFailure
          - permissionDenied
          - badRequest
          - notFound
          - conflict
          - tooManyRequest
          - locked
          allOf:
          - $ref: '#/components/schemas/ApiResultStatus'
          readOnly: true
        message:
          type: string
          description: A message generated by the API
          nullable: true
        displayMessage:
          type: string
          description: User-friendly display message that can be presented to the end user
          nullable: true
        errorType:
          type: string
          description: "Strictly-typed error type that is explaining the reason of an unsuccessful status of the operation.\r\nAll possible error types are available in the documentation."
          nullable: true
        errorData:
          nullable: true
          readOnly: true
        content:
[...]
