openapi: 3.0.1
info:
  title: Admin Assets API
  version: v1
servers:
- url: https://admin-api.meshconnect.com
security:
- Bearer: []
tags:
- name: Assets
paths:
  /api/v1/assets/{assetType}:
    get:
      tags:
      - Assets
      summary: Get available assets
      parameters:
      - name: assetType
        in: path
        required: true
        schema:
          enum:
          - equity
          - cryptocurrency
          allOf:
          - $ref: '#/components/schemas/AssetType'
      - name: Search
        in: query
        schema:
          type: string
      - name: Count
        in: query
        schema:
          type: integer
          format: int32
      - name: Offset
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetPaginationResponseApiResult'
              example:
                content:
                  items:
                  - symbol: AAPL
                    name: Apple Inc
                    type: equity
                  - symbol: MSFT
                    name: Microsoft Inc
                    type: equity
                  total: 5
                status: ok
                message: ''
                errorType: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
              example:
                status: badRequest
                message: Error message
                displayMessage: Optional display message
                errorType: missingField
        '401':
          description: Unauthorized
          content:
            application/json:
              schema: {}
  /api/v1/assets/equity/{symbol}/price:
    get:
      tags:
      - Assets
      summary: Get symbol price
      parameters:
      - name: symbol
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B2BPriceInfoApiResult'
              example:
                content:
                  items:
                  - symbol: AAPL
                    name: Apple Inc
                    type: equity
                  - symbol: MSFT
                    name: Microsoft Inc
                    type: equity
                  total: 5
                status: ok
                message: ''
                errorType: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
              example:
                status: badRequest
                message: Error message
                displayMessage: Optional display message
                errorType: missingField
        '401':
          description: Unauthorized
          content:
            application/json:
              schema: {}
components:
  schemas:
    AssetPaginationResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Asset'
          description: list of items
          nullable: true
        total:
          type: integer
          description: Total number of items
          format: int32
      additionalProperties: false
    ApiResult:
      type: object
      properties:
        status:
          enum:
          - ok
          - serverFailure
          - permissionDenied
          - badRequest
          - notFound
          - conflict
          - tooManyRequest
          - locked
          allOf:
          - $ref: '#/components/schemas/ApiResultStatus'
          readOnly: true
        message:
          type: string
          description: A message generated by the API
          nullable: true
        displayMessage:
          type: string
          description: User-friendly display message that can be presented to the end user
          nullable: true
        errorType:
          type: string
          description: "Strictly-typed error type that is explaining the reason of an unsuccessful status of the operation.\r\nAll possible error types are available in the documentation."
          nullable: true
        errorData:
          nullable: true
          readOnly: true
      additionalProperties: false
    AssetType:
      enum:
      - equity
      - cryptocurrency
      type: string
    Asset:
      type: object
      properties:
        symbol:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        type:
          enum:
          - equity
          - cryptocurrency
          allOf:
          - $ref: '#/components/schemas/AssetType'
      additionalProperties: false
    ApiResultStatus:
      enum:
      - ok
      - serverFailure
      - permissionDenied
      - badRequest
      - notFound
      - conflict
      - tooManyRequest
      - locked
      type: string
    AssetPaginationResponseApiResult:
      type: object
      properties:
        status:
          enum:
          - ok
          - serverFailure
          - permissionDenied
          - badRequest
          - notFound
          - conflict
          - tooManyRequest
          - locked
          allOf:
          - $ref: '#/components/schemas/ApiResultStatus'
          readOnly: true
        message:
          type: string
          description: A message generated by the API
          nullable: true
        displayMessage:
          type: string
          description: User-friendly display message that can be presented to the end user
          nullable: true
        errorType:
          type: string
          description: "Strictly-typed error type that is explaining the reason of an unsuccessful status of the operation.\r\nAll possible error types are available in the documentation."
          nullable: true
        errorData:
          nullable: true
          readOnly: true
        content:
          allOf:
          - $ref: '#/components/schemas/AssetPaginationResponse'
          nullable: true
      additionalProperties: false
    B2BPriceInfoApiResult:
      type: object
      properties:
        status:
          enum:
          - ok
          - serverFailure
          - permissionDenied
          - badRequest
          - notFound
          - conflict
          - tooManyRequest
          - locked
          allOf:
          - $ref: '#/components/schemas/ApiResultStatus'
          readOnly: true
        message:
          type: string
          description: A message generated by the API
          nullable: true
        displayMessage:
          type: string
          description: User-friendly display message that can be presented to the end user
          nullable: true
        errorType:
          type: string
          description: "Strictly-typed error type that is explaining the reason of an unsuccessful status of the operation.\r\nAll possible error types are available in the documentation."
          nullable: true
        errorData:
          nullable: true
          readOnly: true
        content:
          allOf:
          - $ref: '#/components/schemas/B2BPriceInfo'
          nullable: true
      additionalProperties: false
    B2BPriceInfo:
      type: object
      properties:
        price:
          type: number
          format: double
        timestamp:
          type: integer
          format: int64
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: 'Authorization header using the Bearer scheme. Example: "Authorization: Bearer {Value}"'
      scheme: bearer
