openapi: 3.2.0
info:
  title: Mesh Connect Integration Managed Transfers API
  description: 'Mesh allows users to connect accounts of financial institutions,

    crypto exchanges, and self-custody wallets. Mesh handles credential

    validation, MFA, and error handling for each integration. After

    an account is connected, Mesh allows client applications to read holdings,

    transaction history and balances and execute crypto transfers (with user approval).'
  version: '1.0'
servers:
- url: https://integration-api.meshconnect.com
security:
- Client-Secret: []
  Client-Id: []
tags:
- name: Managed Transfers
paths:
  /api/v1/transfers/managed/networks:
    get:
      tags:
      - Managed Transfers
      summary: Get networks
      description: '**Get supported networks list.**


        ---

        Get the list of all networks supported by Mesh to perform transfers, including which tokens and integrations are supported.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkModelResponseApiResult'
              example:
                content:
                  networks:
                  - tokens:
                    - symbol: ETH
                      logoUrl: https://frontuserfilecdn.azureedge.net/public/logos/tokens/ETH.svg
                    - symbol: USDC
                      logoUrl: https://frontuserfilecdn.azureedge.net/public/logos/tokens/USDC.svg
                    - symbol: USDT
                      logoUrl: https://frontuserfilecdn.azureedge.net/public/logos/tokens/USDT.svg
                    supportedBrokerTypes:
                    - deFiWallet
                    - robinhood
                    - coinbase
                    - kraken
                    - binanceInternational
                    - binanceUs
                    supportedTokens:
                    - ETH
                    - USDC
                    - USDT
                    nativeSymbol: ETH
                    id: e3c7fdd8-b1fc-4e51-85ae-bb276e075611
                    name: Ethereum
                    chainId: '1'
                    logoUrl: https://frontuserfilecdn.azureedge.net/public/logos/networks/Ethereum.svg
                status: ok
                message: ''
                errorType: ''
        '401':
          description: Unauthorized
          content:
            application/json:
              schema: {}
      operationId: getApiV1TransfersManagedNetworks
      x-operation-id-source: derived
  /api/v1/transfers/managed/integrations:
    get:
      tags:
      - Managed Transfers
      summary: Get integrations
      description: '**Get supported integrations list.**


        ---

        Get the list of all integrations supported by Mesh to perform transfers, including which tokens and networks are supported.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationNetworkResponseApiResult'
              example:
                content:
                  integrations:
                  - type: robinhood
                    networks:
                    - supportedTokens:
                      - USDC
                      - ETH
                      nativeSymbol: ETH
                      id: e3c7fdd8-b1fc-4e51-85ae-bb276e075611
                      name: Ethereum
                      chainId: '1'
                      logoUrl: https://frontuserfilecdn.azureedge.net/public/logos/networks/Ethereum.svg
                    - supportedTokens:
                      - MATIC
                      - ETH
                      nativeSymbol: MATIC
                      id: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                      name: Polygon
                      chainId: '137'
                      logoUrl: https://frontuserfilecdn.azureedge.net/public/logos/networks/Polygon.svg
                    supportsOutgoingTransfers: true
                    supportsIncomingTransfers: true
                status: ok
                message: ''
                errorType: ''
        '401':
          description: Unauthorized
          content:
            application/json:
              schema: {}
      operationId: getApiV1TransfersManagedIntegrations
      x-operation-id-source: derived
  /api/v1/transfers/managed/tokens:
    get:
      tags:
      - Managed Transfers
      summary: Get supported tokens list
      description: Get the list of all tokens supported by Mesh to perform transfers, including which networks and integrations are supported.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenNetworksResponseApiResult'
              example:
                content:
                  tokens:
                  - token: ADA
                    networks:
                    - id: f7a660cd-bac0-4ae8-8ddb-c54d321b55dc
                      name: Cardano
                      logoUrl: https://frontuserfilecdn.azureedge.net/public/logos/networks/Cardano.svg
                    supportedIntegrations:
                    - gemini
                    - binanceInternational
                status: ok
                message: ''
                errorType: ''
      operationId: getApiV1TransfersManagedTokens
      x-operation-id-source: derived
  /api/v1/transfers/managed/verify:
    get:
      tags:
      - Managed Transfers
      summary: Verify the transfer request without authenticating the integration accounts
      description: 'Checks if the combination of integration ID, network ID, token is correct for transfer.

        Checks if the target address is in the correct format.'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/TransferVerificationRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferVerificationResponseApiResult'
              example:
                content:
                  status: succeeded
                  errorMessage: transfer request verification is successful
                status: ok
                message: ''
                errorType: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
              example:
                status: badRequest
                message: Error message
                displayMessage: Optional display message
                errorType: missingField
        '401':
          description: Unauthorized
          content:
            application/json:
              schema: {}
      operationId: getApiV1TransfersManagedVerify
      x-operation-id-source: derived
  /api/v1/transfers/managed/configure:
    post:
      tags:
      - Managed Transfers
      summary: Configure transfer
      description: '**Get the list of networks and tokens eligible for a transfer, based on the provided request data.**


        ---

        Transfers can be configured either from one connected account to another connected account, or

        from a connected account to any arbitrary address or addresses.


        * **From one connected account to another connected account:**


        The API client provides `FromAuthToken` that is representing the source account and `ToAuthToken` that is representing the target account. Front API maps networks and tokens supported by both accounts and returns all tokens and networks eligible for a transfer as the result.


        * **From a connected account to any arbitrary address:**


        The API client provides `FromAuthToken` that is representing the source account and the list of target addresses using the `ToAddresses` field. Front API verifies the addresses and returns the list of tokens, eligible to be transferred as the result of the operation.


        Returns the list of holdings on the account that can be used to perform the transfer. Each holdings item

        contains the list of supported networks that can be used to transfer the corresponding asset.

        Each network contains details such as gas fees and the amount eligible to be transferred.'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ConfigureTransferRequest'
            examples:
              Configure with provided list of addresses:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAddresses:
                  - networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                    symbol: USDT
                    address: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  - networkId: 0291810a-5947-424d-9a59-e88bb33e999d
                    symbol: USDT
                    address: HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH
                  - networkId: 0880db06-7c7c-4738-898f-cf74efc03c47
                    symbol: BTC
                    address: 3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5
              Configure transfer between two connected accounts:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
              Configure with provided list of addresses, symbol and amount:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAddresses:
                  - networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                    symbol: USDT
                    address: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  - networkId: 0291810a-5947-424d-9a59-e88bb33e999d
                    symbol: USDT
                    address: HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH
                  - networkId: 0880db06-7c7c-4738-898f-cf74efc03c47
                    symbol: BTC
                    address: 3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5
                  symbol: USDT
                  amount: 130
                  fiatCurrency: USD
              Configure transfer between two connected accounts, symbol, amount in fiat and preferred network:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
                  symbol: USDT
                  amountInFiat: 130
                  fiatCurrency: USD
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ConfigureTransferRequest'
            examples:
              Configure with provided list of addresses:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAddresses:
                  - networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                    symbol: USDT
                    address: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  - networkId: 0291810a-5947-424d-9a59-e88bb33e999d
                    symbol: USDT
                    address: HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH
                  - networkId: 0880db06-7c7c-4738-898f-cf74efc03c47
                    symbol: BTC
                    address: 3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5
              Configure transfer between two connected accounts:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
              Configure with provided list of addresses, symbol and amount:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAddresses:
                  - networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                    symbol: USDT
                    address: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  - networkId: 0291810a-5947-424d-9a59-e88bb33e999d
                    symbol: USDT
                    address: HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH
                  - networkId: 0880db06-7c7c-4738-898f-cf74efc03c47
                    symbol: BTC
                    address: 3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5
                  symbol: USDT
                  amount: 130
                  fiatCurrency: USD
              Configure transfer between two connected accounts, symbol, amount in fiat and preferred network:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
                  symbol: USDT
                  amountInFiat: 130
                  fiatCurrency: USD
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ConfigureTransferRequest'
            examples:
              Configure with provided list of addresses:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAddresses:
                  - networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                    symbol: USDT
                    address: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  - networkId: 0291810a-5947-424d-9a59-e88bb33e999d
                    symbol: USDT
                    address: HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH
                  - networkId: 0880db06-7c7c-4738-898f-cf74efc03c47
                    symbol: BTC
                    address: 3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5
              Configure transfer between two connected accounts:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
              Configure with provided list of addresses, symbol and amount:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAddresses:
                  - networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                    symbol: USDT
                    address: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  - networkId: 0291810a-5947-424d-9a59-e88bb33e999d
                    symbol: USDT
                    address: HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH
                  - networkId: 0880db06-7c7c-4738-898f-cf74efc03c47
                    symbol: BTC
                    address: 3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5
                  symbol: USDT
                  amount: 130
                  fiatCurrency: USD
              Configure transfer between two connected accounts, symbol, amount in fiat and preferred network:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
                  symbol: USDT
                  amountInFiat: 130
                  fiatCurrency: USD
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigureTransferResponseApiResult'
              examples:
                Successful transfer configuration:
                  value:
                    content:
                      status: succeeded
                      holdings:
                      - symbol: USDC
                        availableBalance: 130
                        availableBalanceInFiat: 0
                        eligibleForTransfer: true
                        networks:
                        - name: Ethereum
                          id: e3c7fdd8-b1fc-4e51-85ae-bb276e075611
                          minimumAmount: 1
                          totalEstimatedTransferFeeInFiat: 1.8
                          estimatedNetworkGasFee:
                            fee: 0.000850608941007
                            feeCurrency: ETH
                            feeInFiat: 1.8
                          institutionTransferFee:
                            fee: 0
                            feeCurrency: ETH
                            feeInFiat: 0
                          eligibleForTransfer: true
                          eligibleForTransferWithFunding: false
                        - name: Solana
                          id: 0291810a-5947-424d-9a59-e88bb33e999d
                          minimumAmount: 1
                          totalEstimatedTransferFeeInFiat: 0.1
                          estimatedNetworkGasFee:
                            fee: 0.00025
                            feeCurrency: SOL
                            feeInFiat: 0.1
                          institutionTransferFee:
                            fee: 0
                            feeCurrency: SOL
                            feeInFiat: 0
                          eligibleForTransfer: true
                          eligibleForTransferWithFunding: false
                        eligibleForTransferWithFunding: false
                    status: ok
                    message: ''
                    errorType: ''
                Transfer configuration with failed validation:
                  value:
                    status: badRequest
                    message: Either `ToAddresses` or `ToAuthToken` should be provided.
                    errorType: invalidField
                Transfer configuration with no eligible tokens to transfer:
                  value:
                    content:
                      status: succeeded
                      holdings:
                      - symbol: USDC
                        availableBalance: 1
                        availableBalanceInFiat: 0
                        eligibleForTransfer: false
                        eligibleForTransferWithFunding: false
                      - symbol: ETH
                        availableBalance: 1.0e-05
                        availableBalanceInFiat: 0
                        eligibleForTransfer: false
                        eligibleForTransferWithFunding: false
                    status: ok
                    message: ''
                    errorType: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
              example:
                status: badRequest
                message: Error message
                displayMessage: Optional display message
                errorType: missingField
        '401':
          description: Unauthorized
          content:
            application/json:
              schema: {}
        '403':
          description: The API key used does not have write permission to call this Mesh endpoint.
          content:
            application/json:
              schema: {}
      operationId: postApiV1TransfersManagedConfigure
      x-operation-id-source: derived
  /api/v1/transfers/managed/preview:
    post:
      tags:
      - Managed Transfers
      summary: Preview transfer
      description: '**Validate and preview the transfer.**


        ---

        Validates the transfer, calculates the relevant amount in crypto if requested amount was in fiat and updates

        the current network fee values.


        This endpoint uses the `NetworkId` field to specify which network will be used to perform the transfer. The target `NetworkId`

        should be selected after configuring the transfer using `/configure` endpoint.


        Returns the `PreviewId` value that can be used to commit the transfer.'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/PreviewTransferRequest'
            examples:
              Preview with provided address:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                  symbol: USDT
                  toAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  amount: 10
              Preview transfer between two connected accounts:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                  symbol: USDT
                  toAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  amount: 10
              Preview transfer between two connected accounts, using fiat amount:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                  symbol: USDT
                  toAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  amountInFiat: 10
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/PreviewTransferRequest'
            examples:
              Preview with provided address:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                  symbol: USDT
                  toAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  amount: 10
              Preview transfer between two connected accounts:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                  symbol: USDT
                  toAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  amount: 10
              Preview transfer between two connected accounts, using fiat amount:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                  symbol: USDT
                  toAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  amountInFiat: 10
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/PreviewTransferRequest'
            examples:
              Preview with provided address:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                  symbol: USDT
                  toAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  amount: 10
              Preview transfer between two connected accounts:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                  symbol: USDT
                  toAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  amount: 10
              Preview transfer between two connected accounts, using fiat amount:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  toAuthToken: Secret authentication token
                  toType: coinbase
                  networkId: 7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12
                  symbol: USDT
                  toAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                  amountInFiat: 10
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewTransferResponseApiResult'
              examples:
                Successful transfer preview:
                  value:
                    content:
                      status: succeeded
                      previewResult:
                        previewId: 29b185b1-2305-40fb-a0e2-929d61451568
                        previewExpiresIn: 300
                        fromAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                        toAddress: '0x326a8825472bb0f4719998e708a1eeeb4473ed1b'
                        symbol: USDT
                        amount: 10
                        amountInFiat: 10
                        totalEstimatedAmountInFiat: 11.21
                        networkId: e3c7fdd8-b1fc-4e51-85ae-bb276e075611
                        institutionTransferFee:
                          fee: 0
                          feeCurrency: USDT
                          feeInFiat: 0
                        estimatedNetworkGasFee:
                          fee: 1.1
                          feeCurrency: USDT
                          feeInFiat: 1.1
                        unitPrice: 0
                        customClientFee:
                          fee: 0.011
                          feeCurrency: USDT
                          feeInFiat: 0.011
                        isCustomClientFeeProvided: false
                        amountWithCustomClientFee: 0
                        isFeeIncluded: false
                        amountToReceive: 0
                        amountToReceiveInFiat: 0
                    status: ok
                    message: ''
                    errorType: ''
                Failed transfer preview:
                  value:
                    status: badRequest
                    message: The specified amount is greater than the maximum amount allowed.
                    displayMessage: The specified amount is greater than the maximum amount allowed.
                    errorType: invalidField
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
              example:
                status: badRequest
                message: Error message
                displayMessage: Optional display message
                errorType: missingField
        '401':
          description: Unauthorized
          content:
            application/json:
              schema: {}
        '403':
          description: The API key used does not have write permission to call this Mesh endpoint.
          content:
            application/json:
              schema: {}
      operationId: postApiV1TransfersManagedPreview
      x-operation-id-source: derived
  /api/v1/transfers/managed/execute:
    post:
      tags:
      - Managed Transfers
      summary: Execute transfer
      description: '**Commit the previously previewed transfer.**


        ---

        Previews the transfer, using the `PreviewId` value.


        Handles multi-factor authentication codes if the account is configured to use them for additional security.


        Returns the status of the transfer and the details of the transfer if it was initiated successfully.'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ExecuteTransferRequest'
            examples:
              Execute transfer:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  previewId: 29b185b1-2305-40fb-a0e2-929d61451568
              Execute transfer providing the MFA code:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  previewId: 29b185b1-2305-40fb-a0e2-929d61451568
                  mfaCode: '112457'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ExecuteTransferRequest'
            examples:
              Execute transfer:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  previewId: 29b185b1-2305-40fb-a0e2-929d61451568
              Execute transfer providing the MFA code:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  previewId: 29b185b1-2305-40fb-a0e2-929d61451568
                  mfaCode: '112457'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ExecuteTransferRequest'
            examples:
              Execute transfer:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  previewId: 29b185b1-2305-40fb-a0e2-929d61451568
              Execute transfer providing the MFA code:
                value:
                  fromAuthToken: Secret authentication token
                  fromType: robinhood
                  previewId: 29b185b1-2305-40fb-a0e2-929d61451568
                  mfaCode: '112457'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecuteTransferResponseApiResult'
              examples:
                Successful transfer preview:
                  value:
                    content:
                      status: succeeded
                      executeTransferResult:
                        transferId: e332336c-de22-11ed-b5ea-0242ac120002
                        status: pending
                        statusDetails: In progress
                        fromAddress: '0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6'
                        toAddress: '0x326a8825472bb0f4719998e708a1eeeb4473ed1b'
                        symbol: USDT
                        networkName: Ethereum
                        networkId: e3c7fdd8-b1fc-4e51-85ae-bb276e075611
                        hash: '0xdcfd72635a9b16d3bc0e75311f6fe0612970e9714a1e9e93de0ea5acffc6a454'
                        amount: 10
                        amountInFiat: 10
                        totalAmountInFiat: 11.1
                        completedConfirmations: 1
                        institutionTransferFee:
                          fee: 0
                          feeCurrency: USDT
                          feeInFiat: 0
                        networkGasFee:
                          fee: 1.1
                          feeCurrency: USDT
                          feeInFiat: 1.1
                    status: ok
                    message: ''
                    errorType: ''
                Transfer preview when MFA is required:
                  value:
                    content:
                      status: mfaRequired
                    status: ok
                    message: ''
                    errorType: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
              example:
                status: badRequest
                message: Error message
                displayMessage: Optional display message
                errorType: missingField
        '401':
          description: Unauthorized
          content:
            application/json:
              schema: {}
        '403':
          description: The API key used does not have write permission to call this Mesh endpoint.
          content:
            application/json:
              schema: {}
      operationId: postApiV1TransfersManagedExecute
      x-operation-id-source: derived
  /api/v1/transfers/managed/address/get:
    post:
      tags:
      - Managed Transfers
      summary: Get deposit address
      description: Get or generate a cryptocurrency deposit address that can be used to transfer assets to the financial institution
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ManagedBrokerCryptocurrencyDepositAddressRequest'
            example:
              symbol: DOGE
              networkId: 34b66a94-f9f9-49ef-81e8-6ebd5a866f9d
              authToken: Secret authentication token
              type: binanceInternational
      responses:
        '200':
          description: Address successfully obtained or generation initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B2BBrokerCryptocurrencyDepositAddressResponseApiResult'
              example:
                content:
                  symbol: DOGE
                  address: D641Fmzx...
                  chain: DOGE
                status: ok
                message: ''
                errorType: ''
        '400':
          description: Request details are not correct.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
              example:
                status: badRequest
                message: Error message
                displayMessage: Optional display message
                errorType: missingField
        '404':
          description: Address for the required symbol is not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
              example:
                status: notFound
                message: Error message
                displayMessage: Optional display message
                errorType: missingField
        '401':
          description: 'Unauthorized: Client Id or Client Secret are not correct or missing.'
          content:
            application/json:
              schema: {}
      operationId: postApiV1TransfersManagedAddressGet
      x-operation-id-source: derived
  /api/v1/transfers/managed/quote:
    post:
      tags:
      - Managed Transfers
      summary: Quote transfer
      description: 'Get a quote for transferring a fiat amount from a brokerage account in a given cryptocurrency over a specified network.

        Returns min and max fees and amounts to account for different funding sources (existing crypto balance, cash balance or

        ACH/debit deposit). Currently only supported for Coinbase.'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/QuoteTransferRequest'
            examples:
              Quote transfer with no partner fee:
                value:
                  amountInFiat: 10
                  fiatCurrency: USD
                  symbol: ETH
                  networkId: e3c7fdd8-b1fc-4e51-85ae-bb276e075611
                  toAddress: '0xc096a91fDFB100ECED14e4810FA06061C0b3058B'
                  brokerType: coinbase
              Quote transfer with flat partner fee:
                value:
                  amountInFiat: 10
                  fiatCurrency: USD
                  symbol: ETH
                  networkId: e3c7fdd8-b1fc-4e51-85ae-bb276e075611
                  toAddress: '0xc096a91fDFB100ECED14e4810FA06061C0b3058B'
                  brokerType: coinbase
                  feeFlat: 0.0004
              Quote transfer with percentage partner fee:
                value:
                  amountInFiat: 10
                  fiatCurrency: USD
                  symbol: ETH
                  networkId: e3c7fdd8-b1fc-4e51-85ae-bb276e075611
                  toAddress: '0xc096a91fDFB100ECED14e4810FA06061C0b3058B'
                  brokerType: coinbase
                  feePercentage: 1
      responses:
        '200':
          description: Quote obtained.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteTransferResponseApiResult'
              examples:
                Successful transfer quote:
                  value:
                    content:
                      amountInFiat: 100
                      fiatCurrency: USD
                      symbol: ETH
                      networkId: e3c7fdd8-b1fc-4e51-85ae-bb276e075611
                      toAddress: '0xc096a91fDFB100ECED14e4810FA06061C0b3058B'
                      brokerType: coinbase
                      isEligible: true
                      minEligibleAmount: 0.0001
                      minEligibleAmountFiat: 0
                      brokerPrice: 2247.5
                      price: 2246.9
                      minAmountFiat: 97.08
                      maxAmountFiat: 97.88
                      minAmount: 0.04320807702278007
                      maxAmount: 0.04356412313075105
                      fees:
                        inFiat:
                          paymentMethodFeeMaxFiat: 0
                          tradingFeeMaxFiat: 0.8
                          withdrawalFeeFiat: 0
                          partnerFeeFiat: 1.0
                          networkFeeFiat: 1.12
                          minFeesFiat: 2.12
                          maxFeesFiat: 2.92
                        inCrypto:
                          paymentMethodFeeMax: 0
                          tradingFeeMax: 0.00035604610797098225
                          withdrawalFee: 0
                          partnerFee: 0.0004450576349637278
                          networkFee: 0.000496582730658
                          minFees: 0.0009416403656217278
                          maxFees: 0.0012976864735927101
                      fundingOptions:
                      - fundingOption: existingCryptocurrencyBalance
                        paymentMethodFeeFiat: 0
                        tradingFeeFiat: 0
                      - fundingOption: buyingPowerPurchase
                        paymentMethodFeeFiat: 0
                        tradingFeeFiat: 0.8
                      - fundingOption: paymentMethodDepositUsage
                        paymentMethodType: bankAccount
                        paymentMethodFeeFiat: 0
                        tradingFeeFiat: 0.8
                    status: ok
                    message: ''
                    errorType: ''
        '400':
          description: Request details are not correct.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
              example:
                status: badRequest
                message: Error message
                displayMessage: Optional display message
                errorType: missingField
        '401':
          description: 'Unauthorized: Client Id or Client Secret are not correct or missing.'
          content:
            application/json:
              schema: {}
      operationId: postApiV1TransfersManagedQuote
      x-operation-id-source: derived
  /api/v1/transfers/managed/mesh:
    get:
      tags:
      - Managed Transfers
      summary: Get transfers initiated by Mesh
      description: Get cryptocurrency transfers initiated by Mesh on exchanges or self-custody wallets.
      parameters:
      - name: Count
        in: query
        description: Number of items to return. Default 10, maximum - 100.
        schema:
          type: integer
          format: int32
      - name: Offset
        in: query
        description: Number of items to skip.
        schema:
          type: integer
          format: int32
      - name: Id
        in: query
        description: Mesh transfer identifier.
        schema:
          type: string
          format: uuid
      - name: ClientTransactionId
        in: query
        description: Client transaction identifier.
        schema:
          type: string
      - name: UserId
        in: query
        description: Client's user identifier.
        schema:
          type: string
      - name: IntegrationIds
        in: query
        description: Transfered integration.
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: Statuses
        in: query
        description: Transfer statuses.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/TransferStatus'
      - name: FromTimestamp
        in: query
        description: Transfer created minimum timestamp.
        schema:
          type: integer
          format: int64
      - name: ToTimestamp
        in: query
        description: Transfer created maximum timestamp.
        schema:
          type: integer
          format: int64
      - name: MinAmountInFiat
        in: query
        description: Minimum amount in fiat.
        schema:
          type: number
          format: double
      - name: MaxAmountInFiat
        in: query
        description: Maximum amount in fiat.
        schema:
          type: number
          format: double
      - name: OrderBy
        in: query
        description: Order by column.
        schema:
          allOf:
          - $ref: '#/components/schemas/TransferOrderByFields'
      - name: DescendingOrder
        in: query
        description: Value indicating if ordering is descending.
        schema:
          type: boolean
      responses:
        '200':
          description: Transfers obtained.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferModelPaginationResponseApiResult'
              example:
                content:
                  items:
                  - id: 8e25acb5-a9e2-4d00-8772-a255f010a2a9
                    clientTransactionId: '123456'
                    institutionTransactionId: '456789'
                    userId: '123456798'
                    status: succeeded
                    amountInFiat: 1000.3
                    amountInFiatCurrencyCode: USD
                    amount: 10.123
                    symbol: ETH
                    networkName: Polygon
                    createdTimestamp: 1653211113
                    from:
                      id: 8e25acb5-a9e2-4d00-8772-a255f010a2a9
                      type: robinhood
                      name: Robinhood
                    hash: 0x77f3a280aa5cfe956a5759c24cf774325504070b32b4159...
                    gasFee:
                      fee: 0.0001
                      feeCurrency: MATIC
                      feeInFiat: 0.1
                    withdrawalFee:
                      fee: 0.0001
                      feeCurrency: ETH
                      feeInFiat: 0.1
                    processingFee:
                      fee: 0.0001
                      feeCurrency: ETH
                      feeInFiat: 0.1
                    executedTimestamp: 1707462614
                  - id: 12345678-a9e2-4d00-8772-a255f010a2a9
                    clientTransactionId: '123456'
                    institutionTransactionId: '456789'
                    userId: '123456798'
                    status: failed
                    amountInFiat: 10.3
                    amountInFiatCurrencyCode: USD
                    amount: 0.123
                    symbol: ETH
                    networkName: Polygon
                    createdTimestamp: 1653211113
                    from:
                      id: 8e25acb5-a9e2-4d00-8772-a255f010a2a9
                      type: deFiWallet
                      name: MetaMask
                    hash: 0x77f3a280aa5cfe956a5759c24cf774325504070b32b4159...
                  total: 10
                status: ok
                message: ''
                errorType: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
              example:
                status: badRequest
                message: Error message
                displayMessage: Optional display message
                errorType: missingField
        '401':
          description: 'Unauthorized: Client Id or Client Secret are not correct or missing.'
          content:
            application/json:
              schema: {}
      operationId: getApiV1TransfersManagedMesh
      x-operation-id-source: derived
components:
  schemas:
    QuoteFeesInFiat:
      type: object
      properties:
        paymentMethodFeeMaxFiat:
          type: number
          description: Max fee charged if funded by payment method
          format: double
        tradingFeeMaxFiat:
          type: number
          description: Max fee charged to buy crypto
          format: double
        withdrawalFeeFiat:
          type: number
          description: Fee charged to withdraw crypto
          format: double
        partnerFeeFiat:
          type: number
          description: Fee charged by partner
          format: double
        networkFeeFiat:
          type: number
          description: Fee charged for network transaction
          format: double
        minFeesFiat:
          type: number
          description: Min of total fees charged in fiat
          format: double
        maxFeesFiat:
          type: number
          description: Max of total fees charged in fiat
          format: double
      additionalProperties: false
    TokenNetworksResponse:
      type: object
      properties:
        tokens:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TokenNetworksModel'
      additionalProperties: false
    PreviewTransferRequest:
      required:
      - fromAuthToken
      - fromType
      type: object
      properties:
        fromAuthToken:
          minLength: 1
          type: string
          description: The authentication token to send the asset from.
        fromType:
          enum:
          - robinhood
          - eTrade
          - alpaca
          - tdAmeritrade
          - weBull
          - stash
          - interactiveBrokers
          - public
          - coinbase
          - kraken
          - coinbasePro
          - cryptoCom
          - openSea
          - binanceUs
          - gemini
          - cryptocurrencyAddress
          - cryptocurrencyWallet
          - okCoin
          - bittrex
          - kuCoin
          - etoro
          - cexIo
          - binanceInternational
          - bitstamp
          - gateIo
          - acorns
          - okx
          - bitFlyer
          - coinlist
          - huobi
          - bitfinex
          - deFiWallet
          - krakenDirect
          - vanguard
          - binanceInternationalDirect
          - bitfinexDirect
          - bybit
          - paxos
          - coinbasePrime
          allOf:
          - $ref: '#/components/schemas/BrokerType'
          description: The type of the integration to send the asset from.
        toAuthToken:
          type:
          - string
          - 'null'
          description: 'The authentication token of the target integration. Can be used alternatively to the address in the `ToAddress` field.

            If used, `toType` should also be provided.'
        toType:
          allOf:
          - $ref: '#/components/schemas/BrokerType'
          description: The type of the target integration to send assets to. Used along with the `toAuthToken` alternatively to `ToAddress`.
        networkId:
          type: string
          description: The network to send the asset over.
          format: uuid
        symbol:
          type:
          - string
          - 'null'
          description: The symbol of the digital asset to send.
        toAddress:
          type:
          - string
          - 'null'
          description: The target address to send the asset to.
        addressTag:
          type:
          - string
          - 'null'
          description: Secondary address identifier for coins like XRP,XMR etc.
        amount:
          type:
          - number
          - 'null'
          description: The amount to send, in crypto.
          format: double
        amountInFiat:
          type:
          - number
          - 'null'
          description: The amount to send, in fiat currency. Can be used alternatively to `Amount`.
          format: double
        fiatCurrency:
          type:
          - string
          - 'null'
          description: Fiat currency that is to get corresponding converted fiat values of transfer and fee amounts. If not provided, defaults to `USD`.
      additionalProperties: false
    ConfigureTransferRequest:
      required:
      - fromAuthToken
      - fromType
      type: object
      properties:
        fromAuthToken:
          minLength: 1
          type: string
          description: The authentication token to send assets from.
        fromType:
          enum:
          - robinhood
          - eTrade
          - alpaca
          - tdAmeritrade
          - weBull
          - stash
          - interactiveBrokers
          - public
          - coinbase
          - kraken
          - coinbasePro
          - cryptoCom
          - openSea
          - binanceUs
          - gemini
          - cryptocurrencyAddress
          - cryptocurrencyWallet
          - okCoin
          - bittrex
          - kuCoin
          - etoro
          - cexIo
          - binanceInternational
          - bitstamp
          - gateIo
          - acorns
          - okx
          - bitFlyer
          - coinlist
          - huobi
          - bitfinex
          - deFiWallet
          - krakenDirect
          - vanguard
          - binanceInternationalDirect
          - bitfinexDirect
          - bybit
          - paxos
          - coinbasePrime
          allOf:
          - $ref: '#/components/schemas/BrokerType'
          description: The type of the integration to send assets from.
        toAuthToken:
          type:
          - string
          - 'null'
          description: 'The authentication token of the target integration. Can be used alternatively to the list of requested address (`toAddresses`).

            If used, `toType` should also be provided.'
        toType:
          allOf:
          - $ref: '#/components/schemas/BrokerType'
          description: The type of the target integration to send assets to. Used along with the `toAuthToken` alternatively to `toAddresses`.
        toAddresses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TransferToAddress'
          description: 'A list of available addresses provided by the API client. The list can contain all supported addresses by the client.

            Front API validates the addresses and returns the list of supported tokens and networks as the result of the operation.'
        symbol:
          type:
          - string
          - 'null'
          description: If provided, Front API returns only networks that support transferring of this symbol.
        amount:
          type:
          - number
          - 'null'
          description: If provided, Front API configures the response to only return holdings with enough amount of this crypto for the transfer
          format: double
        amountInFiat:
          type:
          - number
          - 'null'
          description: If provided, Front API configures the response to only contain holdings with enough value (converted to fiat) for the transfer.
          format: double
        fiatCurrency:
          type:
          - string
          - 'null'
          description: Fiat currency that is to get corresponding converted fiat values of transfer and fee amounts. If not provided, defaults to `USD`.
        networkId:
          type:
          - string
          - 'null'
          description: If provided, from API configures the response to include the requested network only.
          format: uuid
      additionalProperties: false
    TransferVerificationRequest:
      type: object
      properties:
        integrationId:
          type:
          - string
          - 'null'
        token:
          type:
          - string
          - 'null'
        networkId:
          type:
          - string
          - 'null'
        targetAddress:
          type:
          - string
          - 'null'
      additionalProperties: false
    ExecuteTransferMfaType:
      enum:
      - unspecified
      - phone
      - email
      - totp
      - face
      type: string
    SmartContractTransferAllocation:
      type: object
      properties:
        address:
          type:
          - string
          - 'null'
          description: Blockchain address of the Smart Contract
        expirationTimestamp:
          type: integer
          description: The timestamp by which the transfer must be completely initiated. Currently, this means solving the MFA steps
          format: int64
      additionalProperties: false
    QuoteFeesInCrypto:
      type: object
      properties:
        paymentMethodFeeMax:
          type: number
          description: Max fee charged if funded by payment method
          format: double
        tradingFeeMax:
          type: number
          description: Max fee charged to buy crypto
          format: double
        withdrawalFee:
          type: number
          description: Fee charged to withdraw crypto
          format: double
        partnerFee:
          type: number
          description: Fee charged by partner
          format: double
        networkFee:
          type: number
          description: Fee charged for network transaction
          format: double
        minFees:
          type: number
          description: Min of total fees charged in crypto
          format: double
        maxFees:
          type: number
          description: Max of total fees charged in crypto
          format: double
      additionalProperties: false
    TransferVerificationResponse:
      type: object
      properties:
        status:
          enum:
          - succeeded
          - failed
          allOf:
          - $ref: '#/components/schemas/TransferVerifyStatus'
        errorMessage:
          type:
          - string
          - 'null'
        failureReason:
          allOf:
          - $ref: '#/components/schemas/FailureReason'
      additionalProperties: false
    ConfigureTransferResultHolding:
      type: object
      properties:
        symbol:
          type:
          - string
          - 'null'
          description: The symbol of the digital asset on the source account.
        availableBalance:
          type: number
          description: The available balance of the digital asset.
          format: double
        availableBalanceInFiat:
          type: number
          description: The available balance of the digital asset, converted to fiat currency.
          format: double
        eligibleForTransfer:
          type: boolean
          description: Specifies if the asset is eligible for a transfer.
        networks:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ConfigureTransferResultNetwork'
          description: Supported networks.
        ineligibilityReason:
          allOf:
          - $ref: '#/components/schemas/HoldingTransferIneligibilityReason'
          description: The reason indicating why the transfer of the current asset cannot be performed.
        eligibleForTransferWithFunding:
          type: boolean
          description: 'Indicates that the asset is not eligible for a transfer with the current holding balance,

            but can be made eligible after funding the balance using the cryptocurrency balance funding feature.'
        logoUrl:
          type:
          - string
          - 'null'
          description: Logo url for holding.
          format: uri
      additionalProperties: false
    PreviewTransferResponse:
      type: object
      properties:
        status:
          enum:
          - succeeded
          - failed
          - requiresFunding
          allOf:
          - $ref: '#/components/schemas/PreviewTransferStatus'
          description: The status of the operation.
        errorMessage:
          type:
          - string
          - 'null'
          description: Error message, if the operation did not complete successfully.
        previewResult:
          allOf:
          - $ref: '#/components/schemas/PreviewTransferResult'
          description: Result of the preview.
        transferBalanceFundingAvailability:
          allOf:
          - $ref: '#/components/schemas/TransferBalanceFundingAvailability'
      additionalProperties: false
    TransferToAddress:
      type: object
      properties:
        networkId:
          type: string
          description: 'The Id of the network in Front system. The list of all available networks can be obtained by

            using `GET /transfers/managed/networks` endpoint.'
          format: uuid
        symbol:
          type:
          - string
          - 'null'
          description: The symbol of the digital asset.
        address:
          type:
          - string
          - 'null'
          description: The address to send the asset to.
        addressTag:
          type:
          - string
          - 'null'
          description: Secondary address identifier for coins like XRP,XMR etc.
      additionalProperties: false
    BrokerPaymentMethodType:
      enum:
      - card
      - bankAccount
      - digitalWallet
      - unknown
      type: string
    ExecuteTransferResponseApiResult:
      type: object
      properties:
        status:
          enum:
          - ok
          - serverFailure
          - permissionDenied
          - badRequest
          - notFound
          - conflict
          - tooManyRequest
          - locked
          allOf:
          - $ref: '#/components/schemas/ApiResultStatus'
          readOnly: true
        message:
          type:
          - string
          - 'null'
          description: A message generated by the API
        displayMessage:
          type:
          - string
          - 'null'
          description: User-friendly display message that can be presented to the end user
        errorType:
          type:
          - string
          - 'null'
          description: 'Strictly-typed error type that is explaining the reason of an unsuccessful status of the operation.

            All possible error types are available in the documentation.'
        errorData:
          readOnly: true
        content:
          allOf:
          - $ref: '#/components/schemas/ExecuteTransferResponse'
      additionalProperties: false
    TransferModel:
      type: object
      properties:
        id:
          type: string
          description: Mesh transfer identifier.
          format: uuid
        clientTransactionId:
          type:
          - string
          - 'null'
          description: Client transaction identifier.
        institutionTransactionId:
          type:
          - string
          - 'null'
          description: Integration transaction identifier.
        userId:
          type:
          - string
          - 'null'
          description: Client's user identifier.
        status:
          enum:
          - pending
          - succeeded
          - failed
          allOf:
          - $ref: '#/components/schemas/TransferStatus'
          description: Transfer status.
        amountInFiat:
          type: number
          description: Tranfer amount in fiat.
          format: double
        amountInFiatCurrencyCode:
          type:
          - string
          - 'null'
          description: Tranfer amount in fiat currency code.
        amount:
          type: number
          description: Tranfer amount.
          format: double
        symbol:
          type:
          - string
          - 'null'
          description: Tranfer cryptocurrency symbol.
        networkName:
          type:
          - string
          - 'null'
          description: Tranfer network name.
        createdTimestamp:
          type: integer
          description: Created timestamp.
          format: int64
        from:
          allOf:
          - $ref: '#/components/schemas/TransferIntegrationModel'
          description: From integration.
        hash:
          type:
          - string
          - 'null'
          description: Transfer hash.
        gasFee:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: Transfer network gas fee.
        withdrawalFee:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: Financial insitution withdrawal fee.
        processingFee:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: Tranfer processing fee.
        executedTimestamp:
          type:
          - integer
          - 'null'
          description: Transfer executed Unix timestamp.
          format: int64
        sourceAmount:
          type:
          - number
          - 'null'
          description: Amount what was actually transferred from source account.
          format: double
        destinationAmount:
          type:
          - number
          - 'null'
          description: Amount what destination actually received.
          format: double
      additionalProperties: false
    TransferBalanceFundingAvailabilityStatus:
      enum:
      - disabled
      - available
      - requiresAmountLowering
      - notApplicable
      - unavailable
      type: string
    TokenNetworksModel:
      type: object
      properties:
        token:
          type:
          - string
          - 'null'
        networks:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NetworkResponseBase'
        supportedIntegrations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BrokerType'
        integrationNetworks:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/IntegrationNetwork'
        tokenLogoUrl:
          type:
          - string
          - 'null'
      additionalProperties: false
    ConfigureTransferStatus:
      enum:
      - succeeded
      - failed
      - validationFailed
      - notAuthorizedTo
      - notAuthorizedFrom
      - kycRequired
      - fromIntegrationNotSupported
      - toIntegrationNotSupported
      type: string
    ManagedBrokerCryptocurrencyDepositAddressRequest:
      required:
      - authToken
      - type
      type: object
      properties:
        authToken:
          minLength: 1
          type: string
          description: Auth token that allows connecting to the target institution
        type:
          enum:
          - robinhood
          - eTrade
          - alpaca
          - tdAmeritrade
          - weBull
          - stash
          - interactiveBrokers
          - public
          - coinbase
          - kraken
          - coinbasePro
          - cryptoCom
          - openSea
          - binanceUs
          - gemini
          - cryptocurrencyAddress
          - cryptocurrencyWallet
          - okCoin
          - bittrex
          - kuCoin
          - etoro
          - cexIo
          - binanceInternational
          - bitstamp
          - gateIo
          - acorns
          - okx
          - bitFlyer
          - coinlist
          - huobi
          - bitfinex
          - deFiWallet
          - krakenDirect
          - vanguard
          - binanceInternationalDirect
          - bitfinexDirect
          - bybit
          - paxos
          - coinbasePrime
          allOf:
          - $ref: '#/components/schemas/BrokerType'
          description: Type of the institution to connect
        symbol:
          type:
          - string
          - 'null'
          description: 'Symbol of the required cryptocurrency, e.g. ETH or BTC.

            Can be used instead of the `AddressType` field.'
        addressType:
          allOf:
          - $ref: '#/components/schemas/CryptocurrencyAddressType'
          description: 'Type of the address of symbol to be transferred. Providing `EthAddress` will assume a transfer of ETH over Ethereum blockchain.

            Can be used instead of `Symbol` field.'
        networkId:
          type: string
          description: Specifies which the network to use to obtain the deposit address of the `Symbol` asset.
          format: uuid
        mfaCode:
          type:
          - string
          - 'null'
          description: Some of integrations require MFA code to create a deposit address, e.g. KrakenDirect
      additionalProperties: false
    CryptocurrencyFundingOptionType:
      enum:
      - existingCryptocurrencyBalance
      - buyingPowerPurchase
      - paymentMethodDepositUsage
      - cryptocurrencyConversion
      - stableCoinNoFeeConversion
      - cryptocurrencyBuyingPowerConversion
      type: string
    NetworkModelResponse:
      type: object
      properties:
        networks:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NetworkResponseWithIntegrations'
      additionalProperties: false
    ConfigureTransferResponse:
      type: object
      properties:
        status:
          enum:
          - succeeded
          - failed
          - validationFailed
          - notAuthorizedTo
          - notAuthorizedFrom
          - kycRequired
          - fromIntegrationNotSupported
          - toIntegrationNotSupported
          allOf:
          - $ref: '#/components/schemas/ConfigureTransferStatus'
          description: Status of the operation.
        errorMessage:
          type:
          - string
          - 'null'
          description: Error message, if the operation did not complete successfully.
        holdings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ConfigureTransferResultHolding'
          description: List of holdings on the source account.
        amountInFiat:
          type:
          - number
          - 'null'
          description: Amount in USD to transfer. If not provided users can specify amount by themselves.
          format: double
        minimumTransferAmountInFiat:
          type:
          - number
          - 'null'
          description: Minimum transfer amount in fiat
          format: double
        maximumTransferAmountInFiat:
          type:
          - number
          - 'null'
          description: Maximum transfer amount in fiat
          format: double
        transferBalanceFundingAvailability:
          allOf:
          - $ref: '#/components/schemas/TransferBalanceFundingAvailabilityBase'
      additionalProperties: false
    ProcessingFeeRetainMethod:
      type: object
      properties:
        type:
          enum:
          - default
          - smartDeposit
          allOf:
          - $ref: '#/components/schemas/ProcessingFeeRetainType'
        processingFeeAddress:
          type:
          - string
          - 'null'
      additionalProperties: false
    NetworkModelResponseApiResult:
      type: object
      properties:
        status:
          enum:
          - ok
          - serverFailure
          - permissionDenied
          - badRequest
          - notFound
          - conflict
          - tooManyRequest
          - locked
          allOf:
          - $ref: '#/components/schemas/ApiResultStatus'
          readOnly: true
        message:
          type:
          - string
          - 'null'
          description: A message generated by the API
        displayMessage:
          type:
          - string
          - 'null'
          description: User-friendly display message that can be presented to the end user
        errorType:
          type:
          - string
          - 'null'
          description: 'Strictly-typed error type that is explaining the reason of an unsuccessful status of the operation.

            All possible error types are available in the documentation.'
        errorData:
          readOnly: true
        content:
          allOf:
          - $ref: '#/components/schemas/NetworkModelResponse'
      additionalProperties: false
    ExecuteTransferRequest:
      required:
      - fromAuthToken
      - fromType
      - previewId
      type: object
      properties:
        fromAuthToken:
          minLength: 1
          type: string
          description: The authentication token to send the asset from.
        fromType:
          enum:
          - robinhood
          - eTrade
          - alpaca
          - tdAmeritrade
          - weBull
          - stash
          - interactiveBrokers
          - public
          - coinbase
          - kraken
          - coinbasePro
          - cryptoCom
          - openSea
          - binanceUs
          - gemini
          - cryptocurrencyAddress
          - cryptocurrencyWallet
          - okCoin
          - bittrex
          - kuCoin
          - etoro
          - cexIo
          - binanceInternational
          - bitstamp
          - gateIo
          - acorns
          - okx
          - bitFlyer
          - coinlist
          - huobi
          - bitfinex
          - deFiWallet
          - krakenDirect
          - vanguard
          - binanceInternationalDirect
          - bitfinexDirect
          - bybit
          - paxos
          - coinbasePrime
          allOf:
          - $ref: '#/components/schemas/BrokerType'
          description: The type of the integration to send the asset from.
        previewId:
          type: string
          description: Id of the Preview of the transfer.
          format: uuid
        mfaCode:
          type:
          - string
          - 'null'
          description: Multi-factor auth code that should be provided if the status of the transfer was `MfaRequired`.
      additionalProperties: false
    ApiResultStatus:
      enum:
      - ok
      - serverFailure
      - permissionDenied
      - badRequest
      - notFound
      - conflict
      - tooManyRequest
      - locked
      type: string
    QuoteTransferResponse:
      type: object
      properties:
        amountInFiat:
          type: number
          description: Base amount of fiat currency being transferred (provided in request)
          format: double
        fiatCurrency:
          type:
          - string
          - 'null'
          description: 3 character currency code (provided in request)
        symbol:
          type:
          - string
          - 'null'
          description: Symbol of destination cryptocurrency (provided in request)
        networkId:
          type: string
          description: Unique id of destination network (provided in request)
          format: uuid
        toAddress:
          type:
          - string
          - 'null'
          description: The designated destination for sending the asset.
        brokerType:
          enum:
          - robinhood
          - eTrade
          - alpaca
          - tdAmeritrade
          - weBull
          - stash
          - interactiveBrokers
          - public
          - coinbase
          - kraken
          - coinbasePro
          - cryptoCom
          - openSea
          - binanceUs
          - gemini
          - cryptocurrencyAddress
          - cryptocurrencyWallet
          - okCoin
          - bittrex
          - kuCoin
          - etoro
          - cexIo
          - binanceInternational
          - bitstamp
          - gateIo
          - acorns
          - okx
          - bitFlyer
          - coinlist
          - huobi
          - bitfinex
          - deFiWallet
          - krakenDirect
          - vanguard
          - binanceInternationalDirect
          - bitfinexDirect
          - bybit
          - paxos
          - coinbasePrime
          allOf:
          - $ref: '#/components/schemas/BrokerType'
          description: The type of the integration to send the asset from (provided in request)
        isEligible:
          type: boolean
          description: Is the transaction is possible based on the minimum transfer amount of the selected exchange
        minEligibleAmount:
          type: number
          description: Minimum amount eligible to transfer with selected asset, exchange, and network
          format: double
        minEligibleAmountFiat:
          type: number
          description: Minimum amount in fiat eligible to transfer with selected asset, exchange, and network
          format: double
        maxEligibleAmount:
          type:
          - number
          - 'null'
          description: Maximum amount eligible to transfer with selected asset, exchange, and network
          format: double
        maxEligibleAmountFiat:
          type:
          - number
          - 'null'
          description: Maximum amount eligible in fiat to transfer with selected asset, exchange, and network
          format: double
        ineligibilityReason:
          allOf:
          - $ref: '#/components/schemas/NetworkTransferIneligibilityReason'
          description: The reason a transaction is ineligible, returns none if eligible
        brokerPrice:
          type: number
          description: Price quote from the broker, falls back to reference price
          format: double
        price:
          type: number
          description: Reference price
          format: double
        minAmountFiat:
          type: number
          description: Min amount transferred in fiat
          format: double
        maxAmountFiat:
          type: number
          description: Max amount transferred in fiat
          format: double
        minAmount:
          type: number
          description: Min amount of crypto transferred
          format: double
        maxAmount:
          type: number
          description: Max amount of crypto transferred
          format: double
        fees:
          allOf:
          - $ref: '#/components/schemas/QuoteFees'
          description: Summary of all possible transfer fees
        fundingOptions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/QuoteFundingOption'
          description: Summary of all possible funding options
      additionalProperties: false
    ConfigureTransferResponseApiResult:
      type: object
      properties:
        status:
          enum:
          - ok
          - serverFailure
          - permissionDenied
          - badRequest
          - notFound
          - conflict
          - tooManyRequest
          - locked
          allOf:
          - $ref: '#/components/schemas/ApiResultStatus'
          readOnly: true
        message:
          type:
          - string
          - 'null'
          description: A message generated by the API
        displayMessage:
          type:
          - string
          - 'null'
          description: User-friendly display message that can be presented to the end user
        errorType:
          type:
          - string
          - 'null'
          description: 'Strictly-typed error type that is explaining the reason of an unsuccessful status of the operation.

            All possible error types are available in the documentation.'
        errorData:
          readOnly: true
        content:
          allOf:
          - $ref: '#/components/schemas/ConfigureTransferResponse'
      additionalProperties: false
    PreviewTransferResult:
      type: object
      properties:
        previewId:
          type: string
          description: The Id of the preview of the transfer. Should be used to commit the transfer using `Execute` endpoint.
          format: uuid
        previewExpiresIn:
          type: integer
          description: The period of time in seconds during which the transfer can be committed.
          format: int32
        fromAddress:
          type:
          - string
          - 'null'
          description: Obtained address that will be used to send the transfer. Not guaranteed to be returned by some of integrations.
        toAddress:
          type:
          - string
          - 'null'
          description: The target address to send the asset to.
        addressTag:
          type:
          - string
          - 'null'
          description: Secondary address identifier for coins like XRP, XMR etc.
        symbol:
          type:
          - string
          - 'null'
          description: Symbol of the asset to be sent.
        amount:
          type: number
          description: 'Amount in symbol. If the transfer was requested using `AmounInFiat` field, this field represents the exact amount

            of the asset that will be transferred.'
          format: double
        amountInFiat:
          type: number
          description: 'Transfer amount in fiat. If the transfer was requested in crypto amount using the `Amount` field,

            this field contains the corresponding converted to fiat value.'
          format: double
        totalEstimatedAmountInFiat:
          type: number
          description: Total estimated amount of the transfer including all fees, converted to fiat.
          format: double
        networkId:
          type: string
          description: Id of the network in Front system.
          format: uuid
        networkName:
          type:
          - string
          - 'null'
          description: Name of the network in Front system.
        contractAddress:
          type:
          - string
          - 'null'
          description: Blockchain address of the transferred token's contract
        institutionTransferFee:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: 'The fee that is taken by the institution. Depending on the institution, can cover the gas fee. Some institutions do not

            take the transfer fee and only network fee is used for the transfer.'
        estimatedNetworkGasFee:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: 'The gas fee that is estimated to be taken by the network. Depending on the integration, the network gas fee might be

            covered by the `InstitutionTransferFee`.'
        decimalPlaces:
          type:
          - integer
          - 'null'
          description: Number of decimal places used to represent the token's smallest unit
          format: int32
        unitPrice:
          type: number
          description: The price of the cryptocurrency asset in the fiat currency.
          format: double
        clientTransactionId:
          maxLength: 128
          minLength: 0
          type:
          - string
          - 'null'
          description: Transaction id provided by the client
        clientFee:
          maximum: 1
          minimum: 0
          type:
          - number
          - 'null'
          description: 'A percentage fee (input as a ratio, eg. 0.02500 = 2.500%) added onto your users'' gross payments.

            This will override any default fee entered in your Mesh dashboard for an individual transaction.

            Please note: this fee should only be used for Payments (when the transfer destination is an address owned by your company),

            and not for Deposits (when the transfer destination is an address owned by the end user).

            If used for Deposits, it will increase the size of the user''s Deposit by the fee amount,

            but will incorrectly show to the user as a fee.'
          format: double
        customClientFee:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: The client fee that is estimated to be added to the total estimated transfer amount, based on the user's requested transfer amount and client fee percentage.
        processingFeeRetainMethod:
          allOf:
          - $ref: '#/components/schemas/ProcessingFeeRetainMethod'
        transferType:
          allOf:
          - $ref: '#/components/schemas/TransferTypeEnum'
          description: 'Deposit: The user is transferring crypto to a wallet they own on your platform.

            Payment: The user is transferring crypto to a wallet your company owns in exchange for receiving a good or service.

            Onramp: The user is using balances and linked payment methods in an exchange account to fund the purchase of crypto in their wallet on your platform.'
        isCustomClientFeeProvided:
          type: boolean
        amountWithCustomClientFee:
          type: number
          description: 'Amount in symbol after the client fees are applied. This field represents the exact amount

            of the asset that will be requested for transfer.'
          format: double
        isFeeIncluded:
          type: boolean
          description: 'Indicates if all the fees are included in the amount. For example, if this field''s value is `true`

            and the user wants to send 1 BTC and the sum of all fees is 0.1 BTC, the user will be charged 1 BTC, and

            the target address will receive 0.9 BTC.

            If the fees are no inclusive, the user will be charged 1.1 BTC and the target address will receive 1 BTC.'
        amountToReceive:
          type: number
          description: 'Indicates the final amount to receive after all fees are applied. In case fees are not inclusive (`IsFeeIncluded` is `false`),

            this field will be equal to the `Amount` field.'
          format: double
        amountToReceiveInFiat:
          type: number
          description: 'Indicates the final amount in fiat to receive after all fees are applied. In case fees are not inclusive (`IsFeeIncluded` is `false`),

            this field will be equal to the `AmountInFiat` field.'
          format: double
      additionalProperties: false
    ConfigureTransferResultNetwork:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: The name of the network.
        id:
          type: string
          description: The Id of the network in Front system.
          format: uuid
        minimumAmount:
          type:
          - number
          - 'null'
          description: Then minimum amount that can be withdrawn using this network.
          format: double
        maximumAmount:
          type:
          - number
          - 'null'
          description: The maximum amount that can be withdrawn using this network.
          format: double
        totalEstimatedTransferFeeInFiat:
          type:
          - number
          - 'null'
          description: 'Total estimated transfer fee converted to fiat. Can consist of the fee taken by the financial institution and the

            gas fee.'
          format: double
        minimumAmountInFiat:
          type:
          - number
          - 'null'
          description: The minimum amount that can be withdrawn using this network, converted to fiat currency.
          format: double
        maximumAmountInFiat:
          type:
          - number
          - 'null'
          description: The maximum amount that can be withdrawn using this network, converted to fiat currency.
          format: double
        estimatedNetworkGasFee:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: 'The gas fee that is estimated to be taken by the network. Depending on the integration, the network gas fee might be

            covered by the `InstitutionTransferFee`.'
        institutionTransferFee:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: 'The fee that is taken by the institution. Depending on the institution, can cover the gas fee. Some institutions do not

            take the transfer fee and only network fee is used for the transfer.'
        eligibleForTransfer:
          type: boolean
          description: Specifies if the asset is eligible for a transfer over the current network.
        ineligibilityReason:
          allOf:
          - $ref: '#/components/schemas/NetworkTransferIneligibilityReason'
          description: The reason indicating why the transfer cannot be performed over this network.
        eligibleForTransferWithFunding:
          type: boolean
        toAddress:
          type:
          - string
          - 'null'
          description: The designated destination for sending the asset.
        transferAmount:
          type:
          - number
          - 'null'
          description: Token's amount to transfer specified by the client.
          format: double
        minimumRequiredForTransferAmount:
          type:
          - number
          - 'null'
          description: 'The minimum amount of cryptocurrency that is required to be present in the account to perform the transfer.

            Unlike `minimum` field that indicates the minimum amount that can generally be transferred, this field indicates the minimum

            that can be transferred given the current transfer configuration values, such as `amountInFiat` and `clientFee`.'
          format: double
        logoUrl:
          type:
          - string
          - 'null'
          description: Logo url for network.
          format: uri
      additionalProperties: false
    TransferTypeEnum:
      enum:
      - deposit
      - payment
      - onramp
      type: string
    TransferVerificationResponseApiResult:
      type: object
      properties:
        status:
          enum:
          - ok
          - serverFailure
          - permissionDenied
          - badRequest
          - notFound
          - conflict
          - tooManyRequest
          - locked
          allOf:
          - $ref: '#/components/schemas/ApiResultStatus'
          readOnly: true
        message:
          type:
          - string
          - 'null'
          description: A message generated by the API
        displayMessage:
          type:
          - string
          - 'null'
          description: User-friendly display message that can be presented to the end user
        errorType:
          type:
          - string
          - 'null'
          description: 'Strictly-typed error type that is explaining the reason of an unsuccessful status of the operation.

            All possible error types are available in the documentation.'
        errorData:
          readOnly: true
        content:
          allOf:
          - $ref: '#/components/schemas/TransferVerificationResponse'
      additionalProperties: false
    QuoteFees:
      type: object
      properties:
        inFiat:
          allOf:
          - $ref: '#/components/schemas/QuoteFeesInFiat'
          description: Summary of all possible transfer fees in fiat
        inCrypto:
          allOf:
          - $ref: '#/components/schemas/QuoteFeesInCrypto'
          description: Summary of all possible transfer fees in crypto
      additionalProperties: false
    CryptocurrencyAddressType:
      enum:
      - ethAddress
      - btcAddress
      - ltcAddress
      - solAddress
      - algoAddress
      - celoAddress
      - cardanoAddress
      - polygonAddress
      - bnbAddress
      - elrondAddress
      - neoAddress
      - xrpAddress
      - flowAddress
      - harmonyOneAddress
      - tronAddress
      - dogeAddress
      - opAddress
      type: string
    ExecuteTransferResultResponse:
      type: object
      properties:
        transferId:
          type:
          - string
          - 'null'
          description: The Id of the transfer by the integration.
        status:
          enum:
          - unknown
          - failed
          - frozen
          - succeeded
          - mfaRequired
          - pending
          - expired
          - canceled
          - waitingForSignature
          - waitingForClearing
          - awaitingApproval
          - awaitingConfirmation
          - awaitingVerification
          - rejected
          - pendingCancel
          - emailVerification
          - deviceConfirmationRequired
          - mfaFailed
          - addressWhitelistRequired
          - secondMfaRequired
          allOf:
          - $ref: '#/components/schemas/BrokerCryptocurrencyTransactionStatus'
          description: The current status of the transfer.
        statusDetails:
          type:
          - string
          - 'null'
          description: Details of the current status of the transfer, as provided by the integration.
        fromAddress:
          type:
          - string
          - 'null'
          description: The address of the source account or wallet.
        toAddress:
          type:
          - string
          - 'null'
          description: The address of the target account or wallet.
        symbol:
          type:
          - string
          - 'null'
          description: Transferred symbol.
        networkName:
          type:
          - string
          - 'null'
          description: The name of the used network.
        networkId:
          type: string
          description: The Id of the used network in Front system.
          format: uuid
        hash:
          type:
          - string
          - 'null'
          description: The hash of the blockchain transaction.
        amount:
          type: number
          description: The transferred amount, in the symbol of the transfer.
          format: double
        amountInFiat:
          type: number
          description: The transferred amount, converted to the fiat currency.
          format: double
        totalAmountInFiat:
          type: number
          description: Total amount of the transfer including all fees, converted to fiat.
          format: double
        completedConfirmations:
          type:
          - integer
          - 'null'
          description: Current number of network confirmations.
          format: int64
        institutionTransferFee:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: The fee that was taken by the institution.
        networkGasFee:
          allOf:
          - $ref: '#/components/schemas/TransferFee'
          description: 'The gas fee that was taken by the network. Depending on the integration, the network gas fee might be

            covered by the `InstitutionTransferFee`.'
        smartContract:
          allOf:
          - $ref: '#/components/schemas/SmartContractTransferAllocation'
          description: Details of the allocated Smart Contract in case of 'Deposit' type transfers.
      additionalProperties: false
    TokenNetworksResponseApiResult:
      type: object
      properties:
        status:
          enum:
          - ok
          - serverFailure
          - permissionDenied
          - badRequest
          - notFound
          - conflict
          - tooManyRequest
          - locked
          allOf:
          - $ref: '#/components/schemas/ApiResultStatus'
          readOnly: true
        message:
          type:
          - string
          - 'null'
          description: A message generated by the API
        displayMessage:
          type:
          - string
          - 'null'
          description: User-friendly display message that can be presented to the end user
        errorType:
          type:
          - string
          - 'null'
          description: 'Strictly-typed error type that is explaining the reason of an unsuccessful status of the operation.

            All possible error types are available in the documentation.'
        errorData:
          readOnly: true
        content:
          allOf:
          - $ref: '#/components/schemas/TokenNetworksResponse'
      additionalProperties: false
    NetworkResponse:
      type: object
      properties:
        id:
          type: string
          description: The Id of the network in Mesh system. Should be used to initiate transfers.
          format: uuid
        name:
          type:
          - string
          - 'null'
          description: The name if the network.
        chainId:
          type:
          - string
          - 'null'
          description: The Inner id of the chain, used for reference. For example, Polygon's (MATIC) chain Id is 137.
        logoUrl:
          type:
          - string
          - 'null'
          description: Network logo URL.
        supportedTokens:
          type:
          - array
          - 'null'
          items:
            type: string
          description: The list of tokens that are currently supported to be transferred using the network.
        nativeSymbol:
          type:
          - string
          - 'null'
          description: The symbol of the network's native cryptocurrency.
      additionalProperties: false
      description: Crypto network.
    NetworkTransferIneligibilityReason:
      enum:
      - amountNotSufficient
      - gasFeeAssetBalanceNotEnough
      - noTargetNetworkFound
      - refusedByInstitution
      - eligibleWithFunding
      - balanceBelowRequestedAmount
      - requestedAmountBelowMinimum
      - balanceBelowMinimum
      - requestedAmountBelowFees
      - requestedAmountBelowClientMinimum
      - requestedAmountAboveClientMaximum
      type: string
    BrokerCryptocurrencyTransactionStatus:
      enum:
      - unknown
      - failed
      - frozen
      - succeeded
      - mfaRequired
      - pending
      - expired
      - canceled
      - waitingForSignature
      - waitingForClearing
      - awaitingApproval
      - awaitingConfirmation
      - awaitingVerification
      - rejected
      - pendingCancel
      - emailVerification
      - deviceConfirmationRequired
      - mfaFailed
      - addressWhitelistRequired
      - secondMfaRequired
      type: string
    IntegrationNetworksModelResponse:
      type: object
      properties:
        type:
          enum:
          - robinhood
          - eTrade
          - alpaca
          - tdAmeritrade
          - weBull
          - stash
          - interactiveBrokers
          - public
          - coinbase
          - kraken
          - coinbasePro
          - cryptoCom
          - openSea
          - binanceUs
          - gemini
          - cryptocurrencyAddress
          - cryptocurrencyWallet
          - okCoin
          - bittrex
          - kuCoin
          - etoro
          - cexIo
          - binanceInternational
          - bitstamp
          - gateIo
          - acorns
          - okx
          - bitFlyer
          - coinlist
          - huobi
          - bitfinex
          - deFiWallet
          - krakenDirect
          - vanguard
          - binanceInternationalDirect
          - bitfinexDirect
          - bybit
          - paxos
          - coinbasePrime
          allOf:
          - $ref: '#/components/schemas/BrokerType'
          description: Type of the integration.
        networks:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NetworkResponse'
          description: The list of supported networks and corresponding tokens for the integration.
        supportsOutgoingTransfers:
          type: boolean
          description: Specifies if the integration supports outgoing transfers.
        supportsIncomingTransfers:
          type: boolean
          description: Specifies if the integration supports incoming transfers.
      additionalProperties: false
    PreviewTransferResponseApiResult:
      type: object
      properties:
        status:
          enum:
          - ok
          - serverFailure
          - permissionDenied
          - badRequest
          - notFound
          - conflict
          - tooManyRequest
          - locked
          allOf:
          - $ref: '#/components/schemas/ApiResultStatus'
          readOnly: true
        message:
          type:
          - string
          - 'null'
          description: A message generated by the API
        displayMessage:
          type:
          - string
          - 'null'
          description: User-friendly display message that can be presented to the end user
        errorType:
          type:
          - string
          - 'null'
          description: 'Strictly-typed error type that is explaining the reason of an unsuccessful status of the operation.

            All possible error types are available in the documentation.'
        errorData:
          readOnly: true
        content:
          allOf:
          - $ref: '#/components/schemas/PreviewTransferResponse'
      additionalProperties: false
    B2BBrokerCryptocurrencyDepositAddressResponse:
      type: object
      properties:
        symbol:
          type:
          - string
          - 'null'
        address:
          type:
          - string
          - 'null'
        chain:
          type:
          - string
          - 'null'
        memo:
          type:
          - string
          - 'null'
        minimumDepositAmount:
          type:
          - string
          - 'null'
        networkId:
          type:
          - string
          - 'null'
          format: uuid
        brokerResponseStatus:
          allOf:
          - $ref: '#/components/schemas/BrokerResponseStatus'
        errorMessage:
          type:
          - string
          - 'null'
      additionalProperties: false
    ApiResult:
      type: object
      properties:
        status:
          enum:
          - ok
          - serverFailure
          - permissionDenied
          - badRequest
          - notFound
          - conflict
          - tooManyRequest
          - locked
          allOf:
          - $ref: '#/components/schemas/ApiResultStatus'
          readOnly: true
        message:
          type:
          - string
          - 'null'
          description: A message generated by the API
        displayMessage:
          type:
          - string
          - 'null'
          description: User-friendly display message that can be presented to the end user
        errorType:
          type:
          - string
          - 'null'
          description: 'Strictly-typed error type that is explaining the reason of an unsuccessful status of the operation.

            All possible error types are available in the documentation.'
        errorData:
          readOnly: true
      additionalProperties: false
    TransferOrderByFields:
[...]
